@model ViewBookingViewModel

<header class="flex items-center justify-between text-lg font-medium py-3 px-4">
    <h1 class="text-coffee-900">View Booking</h1>
    <button x-on:click="viewBookingModal = false"
        class="flex items-center justify-center size-8 p-1 rounded-md text-coffee-500 hover:bg-coffee-100 active:bg-coffee-200 hover:text-coffee-700 active:text-coffee-900 duration-200 ease-in-out">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256">
            <path
                d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z">
            </path>
        </svg>
    </button>
</header>

<hr class="w-full border-coffee-100">

<main class="flex flex-col gap-5 p-6 relative">

    @* Resource Image *@
    <div class="flex items-center justify-center gap-2 w-full h-56 py-6">
        @if (Model.ImageFileName != null)
        {
            <img src="/resources/@Model.ImageFileName" alt="Resource Image" class="w-full h-56 object-cover rounded-md">
        }
    </div>

    @* Short Name *@
    <div class="flex items-center justify-between w-full gap-2 rounded-lg px-2 py-2 bg-coffee-100">
        <div class="flex items-center justify-center gap-2 text-coffee-600">
            <span class="bg-pumpkin-500 text-pumpkin-50 p-1 rounded-lg">
                <svg class="size-6" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                    viewBox="0 0 256 256">
                    <path
                        d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Zm-64-56a16,16,0,1,1-16-16A16,16,0,0,1,144,152Z">
                    </path>
                </svg>
            </span>

            <span class="text-lg font-semibold">
                @Model.ShortName
            </span>

            <span class="flex items-center justify-center p-1 rounded-lg text-xs bg-coffee-200 text-coffee-800">
                @Model.StartAt.ToString("MMM dd (hh:mm tt)") - @Model.EndAt.ToString("MMM dd (hh:mm tt)")
            </span>
        </div>

        @* Buttons after ShortName *@
        <div class="flex items-center justify-center gap-3">
            @if (Model.Status == EventStatus.Open || Model.Status == EventStatus.Ongoing)
            {
                <button type="button" hx-get="/attendee/view-ticket/@Model.Id" hx-swap="none"
                    class="duration-200 ease-in-out flex items-center justify-center gap-1 font-medium text-sm rounded-md px-2 py-1 bg-coffee-600 hover:bg-coffee-700 active:bg-coffee-800 text-coffee-50 active:text-coffee-100">
                    <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        viewBox="0 0 256 256">
                        <path
                            d="M104,40H56A16,16,0,0,0,40,56v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V56A16,16,0,0,0,104,40Zm0,64H56V56h48v48Zm0,32H56a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V152A16,16,0,0,0,104,136Zm0,64H56V152h48v48ZM200,40H152a16,16,0,0,0-16,16v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V56A16,16,0,0,0,200,40Zm0,64H152V56h48v48Zm-64,72V144a8,8,0,0,1,16,0v32a8,8,0,0,1-16,0Zm80-16a8,8,0,0,1-8,8H184v40a8,8,0,0,1-8,8H144a8,8,0,0,1,0-16h24V144a8,8,0,0,1,16,0v8h24A8,8,0,0,1,216,160Zm0,32v16a8,8,0,0,1-16,0V192a8,8,0,0,1,16,0Z">
                        </path>
                    </svg>
                    See Ticket
                </button>
            }
            else
            {
                if (!Model.IsFeedbackGiven)
                {
                    <button type="button" hx-get="/attendee/open-create-feedback-modal/{@Model.EventId}" hx-swap="innerHTML"
                        hx-target="#createFeedbackModalContent" x-on:click="createFeedbackModal = true"
                        class="duration-200 ease-in-out flex items-center justify-center gap-1 font-medium text-sm rounded-md px-2 py-1 bg-pumpkin-600 hover:bg-pumpkin-700 active:bg-pumpkin-800 text-pumpkin-50 active:text-pumpkin-100">
                        <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                            viewBox="0 0 256 256">
                            <path
                                d="M248,120a48.05,48.05,0,0,0-48-48H160.2c-2.91-.17-53.62-3.74-101.91-44.24A16,16,0,0,0,32,40V200a16,16,0,0,0,26.29,12.25c37.77-31.68,77-40.76,93.71-43.3v31.72A16,16,0,0,0,159.12,214l11,7.33A16,16,0,0,0,194.5,212l11.77-44.36A48.07,48.07,0,0,0,248,120ZM48,199.93V40h0c42.81,35.91,86.63,45,104,47.24v65.48C134.65,155,90.84,164.07,48,199.93Zm131,8,0,.11-11-7.33V168h21.6ZM200,152H168V88h32a32,32,0,1,1,0,64Z">
                            </path>
                        </svg>
                        Leave a Feedback
                    </button>
                }
                else
                {
                    if (Model.Feedback != null)
                    {
                        <div x-data="{ hover: false }" class="relative">

                            <span x-data="{ rating: @Model.Feedback.Rating }" @@mouseenter="hover = true" @@mouseleave="hover = false"
                                class="relative flex items-center justify-center gap-1 overflow-hidden group">

                                <template x-for="i in 5">
                                    <svg :class="(rating >= i) ? 'fill-yellow-400 group-hover:fill-yellow-400/50' : 'fill-zinc-400 group-hover:fill-zinc-400/50'"
                                        class="size-6 duration-200 ease-in-out" viewBox="0 0 20 20" fill="currentColor"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.97a1 1 0 00.95.69h4.175c.969 0 1.371 1.24.588 1.81l-3.38 2.455a1 1 0 00-.364 1.118l1.287 3.97c.3.921-.755 1.688-1.54 1.118L10 13.347l-3.38 2.455c-.784.57-1.838-.197-1.54-1.118l1.287-3.97a1 1 0 00-.364-1.118L2.623 9.397c-.783-.57-.38-1.81.588-1.81h4.175a1 1 0 00.95-.69l1.286-3.97z" />
                                    </svg>
                                </template>

                                @* Edit Feedback Button *@
                                <button type="button" x-on:click="updateFeedbackModal = true" hx-get="/attendee/open-edit-feedback-modal/@Model.Feedback.Id" hx-swap="innerHTML" hx-target="#updateFeedbackModalContent"
                                    class="duration-200 ease-in-out z-10 absolute right-1/2 p-1 rounded-md bg-coffee-600 text-coffee-50 translate-x-1/2 -translate-y-10 group-hover:translate-y-0">
                                    <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                        fill="currentColor" viewBox="0 0 256 256">
                                        <path
                                            d="M227.31,73.37,182.63,28.68a16,16,0,0,0-22.63,0L36.69,152A15.86,15.86,0,0,0,32,163.31V208a16,16,0,0,0,16,16H92.69A15.86,15.86,0,0,0,104,219.31L227.31,96a16,16,0,0,0,0-22.63ZM92.69,208H48V163.31l88-88L180.69,120ZM192,108.68,147.31,64l24-24L216,84.68Z">
                                        </path>
                                    </svg>
                                </button>
                            </span>

                            <div x-show="hover" x-transition.opacity class="absolute bottom-full left-0 w-full rounded-lg p-2 mb-2 border bg-coffee-50 border-coffee-500 text-xs line-clamp-3">
                                @Model.Feedback.Comments
                            </div>
                        </div>

                    }
                }
            }

        </div>
    </div>

    @* Information *@
    <div class="flex flex-col w-full gap-2">
        @* Event Full Name *@
        <span class="w-full text-xl font-semibold text-coffee-900">
            @Model.Name
        </span>

        @* Description *@
        <div class="flex items-center w-full p-2 text-sm rounded-lg bg-coffee-100 text-coffee-900">
            @Model.Description
        </div>

        <div class="flex flex-col w-full gap-2 mt-4">

            @* Full Address *@
            <div class="flex items-center justify-between text-sm">
                <span class="flex items-center gap-1.5 font-normal text-coffee-600">
                    <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        viewBox="0 0 256 256">
                        <path
                            d="M112,80a16,16,0,1,1,16,16A16,16,0,0,1,112,80ZM64,80a64,64,0,0,1,128,0c0,59.95-57.58,93.54-60,94.95a8,8,0,0,1-7.94,0C121.58,173.54,64,140,64,80Zm16,0c0,42.2,35.84,70.21,48,78.5,12.15-8.28,48-36.3,48-78.5a48,48,0,0,0-96,0Zm122.77,67.63a8,8,0,0,0-5.54,15C213.74,168.74,224,176.92,224,184c0,13.36-36.52,32-96,32s-96-18.64-96-32c0-7.08,10.26-15.26,26.77-21.36a8,8,0,0,0-5.54-15C29.22,156.49,16,169.41,16,184c0,31.18,57.71,48,112,48s112-16.82,112-48C240,169.41,226.78,156.49,202.77,147.63Z">
                        </path>
                    </svg>
                    Event Venue
                </span>
                <span class="font-light text-coffee-700">
                    @Model.FullAddress
                </span>
            </div>

            @* Status *@
            <div class="flex items-center justify-between text-sm">
                <span class="flex items-center gap-1.5 font-normal text-coffee-600">
                    <svg class="size-4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="400" height="400" viewBox="0, 0, 400,400">
                        <g>
                            <path
                                d="M201.128 1.474 C 197.276 3.223,192.460 8.661,191.407 12.449 C 189.709 18.563,190.456 94.473,192.253 98.438 C 198.711 112.682,219.476 112.950,225.870 98.872 C 227.572 95.126,228.160 16.339,226.519 11.965 C 222.775 1.984,210.852 -2.943,201.128 1.474 M72.054 55.135 C 62.045 60.123,59.006 72.885,65.581 82.315 C 68.879 87.044,120.248 137.865,123.284 139.402 C 138.286 146.995,154.641 132.279,149.275 116.016 C 147.777 111.475,94.378 57.711,88.672 54.998 C 83.266 52.427,77.391 52.476,72.054 55.135 M23.047 181.964 C 6.260 186.170,3.761 208.374,19.141 216.673 C 22.230 218.340,22.739 218.359,63.672 218.359 C 104.605 218.359,105.114 218.340,108.203 216.673 C 121.856 209.306,121.856 190.694,108.203 183.327 C 104.948 181.571,29.440 180.362,23.047 181.964 M330.755 182.337 C 312.992 188.046,314.143 213.985,332.338 218.007 C 334.935 218.581,343.556 218.797,357.031 218.624 C 379.577 218.336,380.215 218.218,385.423 213.387 C 394.821 204.670,392.325 189.412,380.469 183.097 C 376.888 181.190,336.257 180.569,330.755 182.337 M126.517 259.335 C 125.418 259.668,123.660 260.386,122.611 260.929 C 120.015 262.274,68.403 313.638,65.581 317.685 C 54.561 333.490,71.282 353.271,88.672 345.002 C 94.378 342.289,147.777 288.525,149.275 283.984 C 154.162 269.173,141.017 254.935,126.517 259.335 M278.516 260.406 C 269.027 265.013,265.242 275.501,269.584 285.156 C 272.108 290.766,325.642 343.835,330.666 345.706 C 346.642 351.656,361.857 335.263,354.298 320.244 C 352.512 316.695,299.758 263.724,295.477 261.181 C 290.498 258.224,283.654 257.911,278.516 260.406 M201.172 292.482 C 190.633 297.452,190.662 297.310,190.647 344.922 C 190.633 388.244,190.661 388.561,195.070 393.712 C 204.194 404.370,221.568 401.234,226.519 388.035 C 228.160 383.661,227.572 304.874,225.870 301.128 C 221.804 292.177,210.334 288.162,201.172 292.482 "
                                stroke="none" fill="currentColor" fill-rule="evenodd"></path>
                        </g>
                    </svg>
                    Status
                </span>
                <span class="font-light text-coffee-700">
                    @Model.Status
                </span>
            </div>

            @* Total Cost *@
            <div class="flex items-center justify-between text-sm">
                <span class="flex items-center gap-1.5 font-normal text-coffee-600">
                    <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        viewBox="0 0 256 256">
                        <path
                            d="M184,89.57V84c0-25.08-37.83-44-88-44S8,58.92,8,84v40c0,20.89,26.25,37.49,64,42.46V172c0,25.08,37.83,44,88,44s88-18.92,88-44V132C248,111.3,222.58,94.68,184,89.57ZM232,132c0,13.22-30.79,28-72,28-3.73,0-7.43-.13-11.08-.37C170.49,151.77,184,139,184,124V105.74C213.87,110.19,232,122.27,232,132ZM72,150.25V126.46A183.74,183.74,0,0,0,96,128a183.74,183.74,0,0,0,24-1.54v23.79A163,163,0,0,1,96,152,163,163,0,0,1,72,150.25Zm96-40.32V124c0,8.39-12.41,17.4-32,22.87V123.5C148.91,120.37,159.84,115.71,168,109.93ZM96,56c41.21,0,72,14.78,72,28s-30.79,28-72,28S24,97.22,24,84,54.79,56,96,56ZM24,124V109.93c8.16,5.78,19.09,10.44,32,13.57v23.37C36.41,141.4,24,132.39,24,124Zm64,48v-4.17c2.63.1,5.29.17,8,.17,3.88,0,7.67-.13,11.39-.35A121.92,121.92,0,0,0,120,171.41v23.46C100.41,189.4,88,180.39,88,172Zm48,26.25V174.4a179.48,179.48,0,0,0,24,1.6,183.74,183.74,0,0,0,24-1.54v23.79a165.45,165.45,0,0,1-48,0Zm64-3.38V171.5c12.91-3.13,23.84-7.79,32-13.57V172C232,180.39,219.59,189.4,200,194.87Z">
                        </path>
                    </svg>
                    Booking Cost
                </span>
                <span class="font-light text-coffee-700">
                    ₱@Model.TotalCost
                </span>
            </div>

            @* Payment Method *@
            <div class="flex items-center justify-between text-sm">
                <span class="flex items-center gap-1.5 font-normal text-coffee-600">
                    <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        viewBox="0 0 256 256">
                        <path
                            d="M216,64H56a8,8,0,0,1,0-16H192a8,8,0,0,0,0-16H56A24,24,0,0,0,32,56V184a24,24,0,0,0,24,24H216a16,16,0,0,0,16-16V80A16,16,0,0,0,216,64Zm0,128H56a8,8,0,0,1-8-8V78.63A23.84,23.84,0,0,0,56,80H216Zm-48-60a12,12,0,1,1,12,12A12,12,0,0,1,168,132Z">
                        </path>
                    </svg>
                    Payment Method
                </span>
                <div class="flex items-center gap-2 font-light text-coffee-700">
                    <span class="capitalize">@Model.PaymentMethod</span>
                    <span class="capitalize">@Model.CardBrand</span>
                    <span>**** @Model.PANLastDigits</span>
                </div>
            </div>

        </div>

    </div>
</main>