@{
    ViewData["Title"] = "Resources";
}

<partial name="~/Views/Admin/Partials/_SidebarPartial.cshtml" />

<div x-data="{addResourceModal: false, viewResourceModal: false}" class="min-h-screen bg-charcoal-950 ms-[250px]">
    <header>
        @* Sub Header (Resources, Search, Browse, By Event) *@
        <div class="flex flex-col items-center w-full p-4 border-b-2 gap-1 border-charcoal-900">

            <div class="flex items-center justify-between w-full gap-3">
                <div class="flex items-center gap-3">
                    <span class="flex items-center justify-center bg-coffee-600 text-coffee-50 p-1 size-8 rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                            viewBox="0 0 256 256">
                            <path
                                d="M223.68,66.15,135.68,18a15.88,15.88,0,0,0-15.36,0l-88,48.17a16,16,0,0,0-8.32,14v95.64a16,16,0,0,0,8.32,14l88,48.17a15.88,15.88,0,0,0,15.36,0l88-48.17a16,16,0,0,0,8.32-14V80.18A16,16,0,0,0,223.68,66.15ZM128,32l80.34,44-29.77,16.3-80.35-44ZM128,120,47.66,76l33.9-18.56,80.34,44ZM40,90l80,43.78v85.79L40,175.82Zm176,85.78h0l-80,43.79V133.82l32-17.51V152a8,8,0,0,0,16,0V107.55L216,90v85.77Z">
                            </path>
                        </svg>
                    </span>
                    <h2 class="font-semibold text-2xl text-charcoal-50">All Resources</h2>
                </div>

                @* Search Bar *@
                <div class="flex items-center gap-3">
                    <span class="relative">
                        <input type="text" autocomplete="off"
                            class="peer duration-200 ease-in-out appearance-none w-56 text-sm outline-none ps-8 pe-3 py-1 rounded-md border-2 focus:ring-0 bg-charcoal-900 border-charcoal-800 focus:border-charcoal-700 text-charcoal-500 focus:text-charcoal-500 selection:text-charcoal-50 selection:bg-charcoal-700 placeholder-charcoal-500"
                            id="search-bar" placeholder="Search">
                        <svg class="absolute top-1/2 -translate-y-1/2 start-2 size-5 pointer-events-none peer-placeholder-shown:text-charcoal-500 peer-focus:text-charcoal-500"
                            xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                            viewBox="0 0 256 256">
                            <path
                                d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z">
                            </path>
                        </svg>
                    </span>
                </div>

                <div class="flex flex-1 items-center justify-end">

                    <button type="button" x-on:click="addResourceModal = !addResourceModal;"
                        class="duration-200 ease-in-out flex items-center justify-center gap-2 px-3 py-1.5 rounded-md text-sm font-medium bg-pumpkin-700 hover:bg-pumpkin-800 active:bg-pumpkin-900 text-pumpkin-50">
                        <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                            fill="currentColor" viewBox="0 0 256 256">
                            <path
                                d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z">
                            </path>
                        </svg>
                        Add Resource
                    </button>


                </div>
            </div>
        </div>
    </header>

    <main class="flex items-center justify-center">
        <div id="resources-table"
            class=" overflow-auto h-[85dvh] max-h-[85%] text-charcoal-100 rounded-lg text-sm w-full scrollbar-thin scrollbar-track-charcoal-900 scrollbar-thumb-charcoal-700">
            <table class="border-separate w-full text-sm text-left whitespace-nowrap">
                <thead class="sticky top-0 left-0 uppercase z-20 bg-charcoal-950">
                    <tr>
                        <th class="py-3 ps-6 text-start border-b-2 border-charcoal-900">
                            #
                        </th>
                        <th class="p-3 text-start border-b-2 border-charcoal-900">
                            Resource Name
                        </th>
                        <th class="p-3 text-start border-b-2 border-charcoal-900">
                            Provider
                        </th>
                        <th class="p-3 text-start border-b-2 border-charcoal-900">
                            Quantity
                        </th>
                        <th class="p-3 text-start border-b-2 border-charcoal-900">
                            Type
                        </th>
                        <th class="p-3 text-start border-b-2 border-charcoal-900">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Resources.Count; i++)
                    {
                        <tr class="">
                            <th scope="row" class="py-3 ps-6 shrink">
                                @(i + 1)
                            </th>
                            <td class="p-3 flex items-center gap-2">
                                <span class="size-10 overflow-hidden">
                                    @if (Model.ResourceImages.ContainsKey(Model.Resources[i].Id))
                                    {
                                        <img src="/resources/@Model.ResourceImages[Model.Resources[i].Id]" alt="No Image"
                                            class="object-cover size-10 rounded-md">
                                    }
                                    else
                                    {
                                        <span>No Image</span>
                                    }
                                </span>
                                @Model.Resources[i].Name
                            </td>
                            <td class="p-3">
                                @Model.Resources[i].ProviderName
                            </td>
                            <td class="p-3">
                                @Model.Resources[i].Quantity
                            </td>
                            <td class="p-3">
                                @Model.Resources[i].Type
                            </td>
                            <td class="flex items-center justify-start gap-2 p-3">
                                <button type="button" 
                                    x-on:click="viewResourceModal = !viewResourceModal"
                                    hx-get="/admin/view-resource/@Model.Resources[i].Id"
                                    hx-target="#resourceViewContent"
                                    hx-swap="innerHTML"
                                    class="text-center p-2 duration-200 ease-in-out rounded-md bg-coffee-700 hover:bg-coffee-800 active:bg-coffee-900 text-coffee-50">

                                    <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                        fill="currentColor" viewBox="0 0 256 256">
                                        <path
                                            d="M247.31,124.76c-.35-.79-8.82-19.58-27.65-38.41C194.57,61.26,162.88,48,128,48S61.43,61.26,36.34,86.35C17.51,105.18,9,124,8.69,124.76a8,8,0,0,0,0,6.5c.35.79,8.82,19.57,27.65,38.4C61.43,194.74,93.12,208,128,208s66.57-13.26,91.66-38.34c18.83-18.83,27.3-37.61,27.65-38.4A8,8,0,0,0,247.31,124.76ZM128,192c-30.78,0-57.67-11.19-79.93-33.25A133.47,133.47,0,0,1,25,128,133.33,133.33,0,0,1,48.07,97.25C70.33,75.19,97.22,64,128,64s57.67,11.19,79.93,33.25A133.46,133.46,0,0,1,231.05,128C223.84,141.46,192.43,192,128,192Zm0-112a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160Z">
                                        </path>
                                    </svg>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </main>

    @* Add Resource Modal *@
    <partial name="~/Views/Admin/Partials/AddResourceModal.cshtml" />

    @* View Resource Modal *@
    <partial name="~/Views/Admin/Partials/ViewResourceModal.cshtml" />
</div>