@model ResourceType
@{
    string savedCostType = ViewBag.SavedCostType;
}

@if (Model == ResourceType.Venue)
{
    <option value="Per Hour" selected="@(savedCostType == "Per Hour")">Per Hour</option>
    <option value="Per Day" selected="@(savedCostType == "Per Day")">Per Day</option>
    <option value="Fixed Rate" selected="@(savedCostType == "Fixed Rate")">Fixed Rate</option>
}
else if (Model == ResourceType.Equipment)
{
    <option value="Per Unit" selected="@(savedCostType == "Per Unit")">Per Unit</option>
    <option value="In Bulk" selected="@(savedCostType == "In Bulk")">In Bulk</option>
}
else if (Model == ResourceType.Furniture)
{
    <option value="Per Unit" selected="@(savedCostType == "Per Unit")">Per Unit</option>
    <option value="In Bulk" selected="@(savedCostType == "In Bulk")">In Bulk</option>
}
else if (Model == ResourceType.Catering)
{
    <option value="Per Serving" selected="@(savedCostType == "Per Serving")">Per Serving</option>
    <option value="In Bulk" selected="@(savedCostType == "In Bulk")">In Bulk</option>
}
else if (Model == ResourceType.Personnel)
{
    <option value="Per Hour" selected="@(savedCostType == "Per Hour")">Per Hour</option>
    <option value="Per Day" selected="@(savedCostType == "Per Day")">Per Day</option>
    <option value="Fixed Rate" selected="@(savedCostType == "Fixed Rate")">Fixed Rate</option>
}