@model EventsViewModel

@* DRAFT *@ 
@if (Model.DraftEvents.Any())
{
    <div class="flex flex-col gap-2 mb-6">
        <div class="flex items-center gap-2 text-xs font-semibold">
            <span class="text-zinc-500"> WORK IN PROGRESS </span>
            <span class="rounded bg-zinc-300 text-zinc-700 px-1.5 py-0.5">
                @Model.DraftEvents.Count
            </span>
        </div>
        @foreach (var evt in Model.DraftEvents)
        {
            <div
                class="group duration-200 ease-in-out border-zinc-300 hover:border-coffee-300 bg-white hover:bg-coffee-50 flex items-center justify-between w-full py-2 px-4 rounded-lg border-2">
                <div class="flex flex-col flex-grow gap-2">
                    @* Event Name (1st Column) *@
                    <span class="text-base font-medium text-coffee-900">@evt.Name</span>

                    @* 2nd Column *@
                    <div class="flex items-center justify-start gap-2 text-xs">
                        @* Date of Event *@
                        <span
                            class="flex items-center justify-center gap-2 text-zinc-500 group-hover:text-coffee-600 font-medium">
                            <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                viewBox="0 0 256 256">
                                <path
                                    d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Zm-64-56a16,16,0,1,1-16-16A16,16,0,0,1,144,152Z">
                                </path>
                            </svg>
                            @evt.StartAt.ToString("MMM dd") - @evt.EndAt.ToString("MMM dd")
                        </span>

                        @* Status *@
                        <span
                            class="duration-200 ease-in-out bg-zinc-100 text-zinc-500 group-hover:bg-coffee-200 group-hover:text-coffee-600 rounded-md font-semibold px-3 py-1">
                            @evt.Status
                        </span>

                        @* Date Created *@
                        @* <span class="bg-zinc-100 text-zinc-500 rounded-md font-semibold px-3 py-1">
                            Date Created: @evt.CreatedAt.ToString("MMM dd, yyyy")
                        </span> *@

                        @if (!Model.HasResources.GetValueOrDefault(evt.Id, false))
                        {
                            @* Has Resources? *@
                            <span
                                class="duration-200 ease-in-out flex items-center bg-amber-100 text-amber-500 group-hover:bg-amber-200 group-hover:text-amber-600 rounded-md font-semibold ps-1 pe-3 py-1">
                                <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                    viewBox="0 0 256 256">
                                    <path
                                        d="M148,200a20,20,0,1,1-20-20A20,20,0,0,1,148,200Zm-20-40a12,12,0,0,0,12-12V48a12,12,0,0,0-24,0V148A12,12,0,0,0,128,160Z">
                                    </path>
                                </svg>
                                <span>
                                    No Resources Allocated
                                </span>
                            </span>
                        }
                    </div>
                </div>

                <div class="flex flex-shrink">
                    <button type="menu" x-on:click="viewEventModal = !viewEventModal" hx-get="/organizer/view-event/@evt.Id"
                        hx-target="#viewEventModalContent" hx-swap="innerHTML"
                        class="duration-200 ease-in-out rounded-lg focus:outline-none text-center p-2 hover:bg-coffee-700 active:bg-coffee-900 text-zinc-500 hover:text-coffee-50 active:text-coffee-50">
                        <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                            viewBox="0 0 256 256">
                            <path
                                d="M247.31,124.76c-.35-.79-8.82-19.58-27.65-38.41C194.57,61.26,162.88,48,128,48S61.43,61.26,36.34,86.35C17.51,105.18,9,124,8.69,124.76a8,8,0,0,0,0,6.5c.35.79,8.82,19.57,27.65,38.4C61.43,194.74,93.12,208,128,208s66.57-13.26,91.66-38.34c18.83-18.83,27.3-37.61,27.65-38.4A8,8,0,0,0,247.31,124.76ZM128,192c-30.78,0-57.67-11.19-79.93-33.25A133.47,133.47,0,0,1,25,128,133.33,133.33,0,0,1,48.07,97.25C70.33,75.19,97.22,64,128,64s57.67,11.19,79.93,33.25A133.46,133.46,0,0,1,231.05,128C223.84,141.46,192.43,192,128,192Zm0-112a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160Z">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>
        }
    </div>
}

@* Published *@
@if (Model.PublishedEvents.Any())
{
    <div class="flex flex-col gap-2 mb-6">
        @* Header (Count) *@
        <div class="flex items-center gap-2 text-xs font-semibold">
            <span class="text-zinc-500"> PUBLISHED </span>
            <span class="rounded bg-zinc-300 text-zinc-700 px-1.5 py-0.5">
                @Model.PublishedEvents.Count
            </span>
        </div>

        @foreach (var evt in Model.PublishedEvents)
        {
            <div
                class="duration-200 ease-in-out border-zinc-300 hover:border-coffee-300 bg-white hover:bg-coffee-50 flex items-center w-full py-2 px-4 rounded-lg border-2">
                <div class="flex flex-col flex-grow gap-2">
                    <span class="text-base font-medium text-coffee-900">
                        @evt.Name
                    </span>

                    <div class="flex items-center justify-start gap-2 text-xs">
                        @if (evt.Status == EventStatus.Open)
                        {
                            <span class="flex items-center justify-center gap-2 text-zinc-500 font-medium">
                                <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                    viewBox="0 0 256 256">
                                    <path
                                        d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm64-88a8,8,0,0,1-8,8H128a8,8,0,0,1-8-8V72a8,8,0,0,1,16,0v48h48A8,8,0,0,1,192,128Z">
                                    </path>
                                </svg>
                                @if ((evt.StartAt - DateTime.Today).Days == 0)
                                {
                                    TimeSpan ts = evt.StartAt - DateTime.Today;
                                    <p>Starts In @ts</p>
                                }
                                else
                                {
                                    <p>@((evt.StartAt - DateTime.Today).Days) Days Left</p>
                                }
                            </span>
                        }
                        else if (evt.Status == EventStatus.Ongoing)
                        {
                            <span class="flex items-center justify-center gap-2 text-zinc-500 font-medium">
                                <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                    viewBox="0 0 256 256">
                                    <path
                                        d="M222.16,153.26a8,8,0,0,1-1,11.25c-17.36,14.38-32.86,19.49-47,19.49-18.58,0-34.82-8.81-49.93-17-25.35-13.75-47.24-25.63-79.07.74a8,8,0,1,1-10.22-12.3c40.17-33.27,70.32-16.92,96.93-2.48,25.35,13.75,47.24,25.62,79.07-.75A8,8,0,0,1,222.16,153.26Zm-177-49.46c31.83-26.37,53.72-14.5,79.07-.75,15.11,8.2,31.35,17,49.93,17,14.14,0,29.64-5.11,47-19.49a8,8,0,1,0-10.22-12.3c-31.83,26.37-53.72,14.49-79.07.74-26.61-14.43-56.76-30.79-96.93,2.48A8,8,0,0,0,45.11,103.8Z">
                                    </path>
                                </svg>
                                @evt.StartAt.ToString("MMM dd") - @evt.EndAt.ToString("MMM dd")
                            </span>
                        }
                        else if (evt.Status == EventStatus.Postponed)
                        {
                            <span class="flex items-center justify-center gap-2 text-orange-500 font-medium">
                                <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                    viewBox="0 0 256 256">
                                    <path
                                        d="M128,40a96,96,0,1,0,96,96A96.11,96.11,0,0,0,128,40Zm0,176a80,80,0,1,1,80-80A80.09,80.09,0,0,1,128,216ZM173.66,90.34a8,8,0,0,1,0,11.32l-40,40a8,8,0,0,1-11.32-11.32l40-40A8,8,0,0,1,173.66,90.34ZM96,16a8,8,0,0,1,8-8h48a8,8,0,0,1,0,16H104A8,8,0,0,1,96,16Z">
                                    </path>
                                </svg>
                                @evt.StartAt.ToString("MMM dd") - @evt.EndAt.ToString("MMM dd")
                            </span>
                        }

                        @if (evt.Status == EventStatus.Open)
                        {
                            <span class="bg-amber-100 text-amber-500 rounded-md font-semibold px-3 py-1">
                                OPEN
                            </span>
                        }
                        else if (evt.Status == EventStatus.Ongoing)
                        {
                            <span class="bg-green-100 text-green-500 rounded-md font-semibold px-3 py-1">
                                ONGOING
                            </span>
                        }
                        else if (evt.Status == EventStatus.Postponed)
                        {
                            <span class="bg-orange-100 text-orange-500 rounded-md font-semibold px-3 py-1">
                                POSTPONED
                            </span>
                        }

                        <span class="flex items-center gap-2 border text-zinc-500 border-zinc-500 rounded-lg px-3 py-1.5">
                            <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                viewBox="0 0 256 256">
                                <path
                                    d="M117.25,157.92a60,60,0,1,0-66.5,0A95.83,95.83,0,0,0,3.53,195.63a8,8,0,1,0,13.4,8.74,80,80,0,0,1,134.14,0,8,8,0,0,0,13.4-8.74A95.83,95.83,0,0,0,117.25,157.92ZM40,108a44,44,0,1,1,44,44A44.05,44.05,0,0,1,40,108Zm210.14,98.7a8,8,0,0,1-11.07-2.33A79.83,79.83,0,0,0,172,168a8,8,0,0,1,0-16,44,44,0,1,0-16.34-84.87,8,8,0,1,1-5.94-14.85,60,60,0,0,1,55.53,105.64,95.83,95.83,0,0,1,47.22,37.71A8,8,0,0,1,250.14,206.7Z">
                                </path>
                            </svg>
                            @(Model.EventAttendeeCounts.GetValueOrDefault(evt.Id, 0))
                        </span>
                    </div>
                </div>

                <div class="flex flex-shrink">
                    <button type="menu" x-on:click="viewEventModal = !viewEventModal" hx-get="/organizer/view-event/@evt.Id"
                        hx-target="#viewEventModalContent" hx-swap="innerHTML"
                        class="duration-200 ease-in-out rounded-lg focus:outline-none text-center p-2 hover:bg-coffee-700 active:bg-coffee-900 text-zinc-500 hover:text-coffee-50 active:text-coffee-50">
                        <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                            viewBox="0 0 256 256">
                            <path
                                d="M247.31,124.76c-.35-.79-8.82-19.58-27.65-38.41C194.57,61.26,162.88,48,128,48S61.43,61.26,36.34,86.35C17.51,105.18,9,124,8.69,124.76a8,8,0,0,0,0,6.5c.35.79,8.82,19.57,27.65,38.4C61.43,194.74,93.12,208,128,208s66.57-13.26,91.66-38.34c18.83-18.83,27.3-37.61,27.65-38.4A8,8,0,0,0,247.31,124.76ZM128,192c-30.78,0-57.67-11.19-79.93-33.25A133.47,133.47,0,0,1,25,128,133.33,133.33,0,0,1,48.07,97.25C70.33,75.19,97.22,64,128,64s57.67,11.19,79.93,33.25A133.46,133.46,0,0,1,231.05,128C223.84,141.46,192.43,192,128,192Zm0-112a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160Z">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>
        }
    </div>
}

@* Concluded *@
@if (Model.ConcludedEvents.Any())
{
    <div class="flex flex-col gap-2">
        @* Header (Count) *@
        <div class="flex items-center gap-2 text-xs font-semibold">
            <span class="text-zinc-500">CONCLUDED</span>
            <span class="rounded bg-zinc-300 text-zinc-700 px-1.5 py-0.5">
                @Model.ConcludedEvents.Count
            </span>
        </div>

        @foreach (var evt in Model.ConcludedEvents)
        {
            <div
                class="duration-200 ease-in-out border-zinc-300 hover:border-coffee-300 bg-white hover:bg-coffee-50 flex items-center w-full py-2 px-4 rounded-lg border-2">
                <div class="flex flex-col flex-grow gap-2">
                    <span class="text-base font-medium text-coffee-900">
                        @evt.Name
                    </span>

                    <div class="flex items-center justify-start gap-2 text-xs">
                        <span class="flex items-center justify-center gap-2 text-zinc-500 font-medium">
                            <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                viewBox="0 0 256 256">
                                <path
                                    d="M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM232,128A104,104,0,1,1,128,24,104.11,104.11,0,0,1,232,128Zm-16,0a88,88,0,1,0-88,88A88.1,88.1,0,0,0,216,128Z">
                                </path>
                            </svg>
                            @evt.StartAt.ToString("MMM dd") - @evt.EndAt.ToString("MMM dd")
                        </span>

                        @if (evt.Status == EventStatus.Completed)
                        {
                            <span class="bg-blue-100 text-blue-500 rounded-md font-semibold px-3 py-1">
                                COMPLETED
                            </span>
                        }
                        else if (evt.Status == EventStatus.Cancelled)
                        {
                            <span class="bg-red-100 text-red-500 rounded-md font-semibold px-3 py-1">
                                CANCELLED
                            </span>
                        }

                        <span class="flex items-center gap-2 border text-zinc-500 border-zinc-500 rounded-lg px-3 py-1.5">
                            <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                viewBox="0 0 256 256">
                                <path
                                    d="M117.25,157.92a60,60,0,1,0-66.5,0A95.83,95.83,0,0,0,3.53,195.63a8,8,0,1,0,13.4,8.74,80,80,0,0,1,134.14,0,8,8,0,0,0,13.4-8.74A95.83,95.83,0,0,0,117.25,157.92ZM40,108a44,44,0,1,1,44,44A44.05,44.05,0,0,1,40,108Zm210.14,98.7a8,8,0,0,1-11.07-2.33A79.83,79.83,0,0,0,172,168a8,8,0,0,1,0-16,44,44,0,1,0-16.34-84.87,8,8,0,1,1-5.94-14.85,60,60,0,0,1,55.53,105.64,95.83,95.83,0,0,1,47.22,37.71A8,8,0,0,1,250.14,206.7Z">
                                </path>
                            </svg>
                            @(Model.EventAttendeeCounts.GetValueOrDefault(evt.Id, 0))
                        </span>
                    </div>
                </div>

                <div class="flex flex-shrink">
                    <button type="menu" x-on:click="viewEventModal = !viewEventModal" hx-get="/organizer/view-event/@evt.Id"
                        hx-target="#viewEventModalContent" hx-swap="innerHTML"
                        class="duration-200 ease-in-out rounded-lg focus:outline-none text-center p-2 hover:bg-coffee-700 active:bg-coffee-900 text-zinc-500 hover:text-coffee-50 active:text-coffee-50">
                        <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                            viewBox="0 0 256 256">
                            <path
                                d="M247.31,124.76c-.35-.79-8.82-19.58-27.65-38.41C194.57,61.26,162.88,48,128,48S61.43,61.26,36.34,86.35C17.51,105.18,9,124,8.69,124.76a8,8,0,0,0,0,6.5c.35.79,8.82,19.57,27.65,38.4C61.43,194.74,93.12,208,128,208s66.57-13.26,91.66-38.34c18.83-18.83,27.3-37.61,27.65-38.4A8,8,0,0,0,247.31,124.76ZM128,192c-30.78,0-57.67-11.19-79.93-33.25A133.47,133.47,0,0,1,25,128,133.33,133.33,0,0,1,48.07,97.25C70.33,75.19,97.22,64,128,64s57.67,11.19,79.93,33.25A133.46,133.46,0,0,1,231.05,128C223.84,141.46,192.43,192,128,192Zm0-112a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160Z">
                            </path>
                        </svg>
                    </button>
                </div>
            </div>
        }
    </div>
}

@if (!Model.DraftEvents.Any() && !Model.PublishedEvents.Any() && !Model.ConcludedEvents.Any())
{
    <div class="flex flex-col items-center justify-center size-full font-medium text-coffee-600">
        <svg class="size-24" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
            viewBox="0 0 256 256">
            <path
                d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM157.66,170.34a8,8,0,0,1-11.32,11.32L128,163.31l-18.34,18.35a8,8,0,0,1-11.32-11.32L116.69,152,98.34,133.66a8,8,0,0,1,11.32-11.32L128,140.69l18.34-18.35a8,8,0,0,1,11.32,11.32L139.31,152ZM208,80H48V48H72v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24Z">
            </path>
        </svg>
        <p class="text-base mt-4">No events found.</p>
        <p class="text-sm text-coffee-500">Perhaps create a new one?</p>
    </div>
}