@using System.Text.Json
@using System.Globalization
@model ResourceViewModel
@{
    bool isHtmxRequest = Context.Request.Headers.ContainsKey("HX-Request");
}

@if (isHtmxRequest)
{
    <div hx-swap-oob="innerHTML" id="events-dropdown">
        @await Html.PartialAsync("~/Views/Organizer/Partials/_EventsDropdown.cshtml", Model)
    </div>
}

<div id="resources-list" hx-swap-oob="innerHTML">
@if (Model.Resources.Any())
{
    <div class="flex flex-col gap-3 size-full p-2 select-none">
        @foreach (var resource in Model.Resources)
        {
            <div
                class="flex items-center justify-between w-full p-2 rounded-lg border-2 border-zinc-300 hover:border-coffee-300 bg-white hover:bg-coffee-50 duration-200 ease-in-out group">
                <div class="flex items-center justify-between w-full gap-3">
                    @* Resource Image *@
                    <span class="flex items-center justify-center flex-shrink size-24">
                        <img class="object-cover size-24 rounded-md"
                            src="/resources/@(Model.ResourceImages.GetValueOrDefault(resource.Id, ""))" alt="Venue Image">
                    </span>

                    @* All Texts (Body) *@
                    <div class="flex flex-col flex-1 gap-2">

                        @* Resource Name (1st Column) *@
                        <span class="text-base font-medium text-coffee-900 group-hover:text-coffee-700">@resource.Name</span>

                        @if (resource.ResourceType == ResourceType.Venue)
                        {
                            string? fullAddress = resource.ResourceVenue.AddressLine1 + ", " + (resource.ResourceVenue.AddressLine2
                            != null
                            ? resource.ResourceVenue.AddressLine2 + ", " : "") + resource.ResourceVenue.CityMunicipality + ", " +
                            resource.ResourceVenue.Province;

                            @* 2nd Column *@
                            <div class="flex items-center justify-start gap-2 text-xs">

                                <span class="flex items-center justify-between gap-4">
                                    @* Resource Type *@
                                    <div
                                        class="duration-200 ease-in-out bg-zinc-200 text-zinc-500 group-hover:bg-coffee-200 group-hover:text-coffee-600 rounded-md font-semibold px-3 py-1">
                                        @resource.ResourceType
                                    </div>

                                    <div x-data="{ hover: false }" class="text-zinc-700 group-hover:text-coffee-700">
                                        <span class="flex items-center gap-1" x-ref="cost" x-on:mouseover="hover = true"
                                            x-on:mouseleave="hover = false">
                                            <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                fill="currentColor" viewBox="0 0 256 256">
                                                <path
                                                    d="M184,89.57V84c0-25.08-37.83-44-88-44S8,58.92,8,84v40c0,20.89,26.25,37.49,64,42.46V172c0,25.08,37.83,44,88,44s88-18.92,88-44V132C248,111.3,222.58,94.68,184,89.57ZM232,132c0,13.22-30.79,28-72,28-3.73,0-7.43-.13-11.08-.37C170.49,151.77,184,139,184,124V105.74C213.87,110.19,232,122.27,232,132ZM72,150.25V126.46A183.74,183.74,0,0,0,96,128a183.74,183.74,0,0,0,24-1.54v23.79A163,163,0,0,1,96,152,163,163,0,0,1,72,150.25Zm96-40.32V124c0,8.39-12.41,17.4-32,22.87V123.5C148.91,120.37,159.84,115.71,168,109.93ZM96,56c41.21,0,72,14.78,72,28s-30.79,28-72,28S24,97.22,24,84,54.79,56,96,56ZM24,124V109.93c8.16,5.78,19.09,10.44,32,13.57v23.37C36.41,141.4,24,132.39,24,124Zm64,48v-4.17c2.63.1,5.29.17,8,.17,3.88,0,7.67-.13,11.39-.35A121.92,121.92,0,0,0,120,171.41v23.46C100.41,189.4,88,180.39,88,172Zm48,26.25V174.4a179.48,179.48,0,0,0,24,1.6,183.74,183.74,0,0,0,24-1.54v23.79a165.45,165.45,0,0,1-48,0Zm64-3.38V171.5c12.91-3.13,23.84-7.79,32-13.57V172C232,180.39,219.59,189.4,200,194.87Z">
                                                </path>
                                            </svg>
                                            ₱@resource.Cost.ToString("N2")
                                        </span>

                                        <span x-cloak x-show="hover" x-transition.opacity x-anchor.top.offset.5="$refs.cost"
                                            class="rounded-md text-sm px-4 py-2 bg-white text-coffee-700 border border-coffee-500">
                                            Cost
                                        </span>
                                    </div>

                                    <div x-data="{ hover: false }" class="text-zinc-700 group-hover:text-coffee-700">
                                        <span class="flex items-center gap-1" x-ref="costtype" x-on:mouseover="hover = true"
                                            x-on:mouseleave="hover = false">
                                            <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                fill="currentColor" viewBox="0 0 256 256">
                                                <path
                                                    d="M230.33,141.06a24.43,24.43,0,0,0-21.24-4.23l-41.84,9.62A28,28,0,0,0,140,112H89.94a31.82,31.82,0,0,0-22.63,9.37L44.69,144H16A16,16,0,0,0,0,160v40a16,16,0,0,0,16,16H120a7.93,7.93,0,0,0,1.94-.24l64-16a6.94,6.94,0,0,0,1.19-.4L226,182.82l.44-.2a24.6,24.6,0,0,0,3.93-41.56ZM16,160H40v40H16Zm203.43,8.21-38,16.18L119,200H56V155.31l22.63-22.62A15.86,15.86,0,0,1,89.94,128H140a12,12,0,0,1,0,24H112a8,8,0,0,0,0,16h32a8.32,8.32,0,0,0,1.79-.2l67-15.41.31-.08a8.6,8.6,0,0,1,6.3,15.9ZM164,96a36,36,0,0,0,5.9-.48,36,36,0,1,0,28.22-47A36,36,0,1,0,164,96Zm60-12a20,20,0,1,1-20-20A20,20,0,0,1,224,84ZM164,40a20,20,0,0,1,19.25,14.61,36,36,0,0,0-15,24.93A20.42,20.42,0,0,1,164,80a20,20,0,0,1,0-40Z">
                                                </path>
                                            </svg>
                                            @resource.CostType
                                        </span>

                                        <span x-cloak x-show="hover" x-transition.opacity x-anchor.top.offset.5="$refs.costtype"
                                            class="rounded-md text-sm px-4 py-2 bg-white text-coffee-700 border border-coffee-500">
                                            Cost Type or Rate
                                        </span>
                                    </div>

                                    <div x-data="{ hover: false }" class="text-zinc-700 group-hover:text-coffee-700">
                                        <span class="flex items-center gap-1" x-ref="costtype" x-on:mouseover="hover = true"
                                            x-on:mouseleave="hover = false">
                                            <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                fill="currentColor" viewBox="0 0 256 256">
                                                <path
                                                    d="M244.8,150.4a8,8,0,0,1-11.2-1.6A51.6,51.6,0,0,0,192,128a8,8,0,0,1-7.37-4.89,8,8,0,0,1,0-6.22A8,8,0,0,1,192,112a24,24,0,1,0-23.24-30,8,8,0,1,1-15.5-4A40,40,0,1,1,219,117.51a67.94,67.94,0,0,1,27.43,21.68A8,8,0,0,1,244.8,150.4ZM190.92,212a8,8,0,1,1-13.84,8,57,57,0,0,0-98.16,0,8,8,0,1,1-13.84-8,72.06,72.06,0,0,1,33.74-29.92,48,48,0,1,1,58.36,0A72.06,72.06,0,0,1,190.92,212ZM128,176a32,32,0,1,0-32-32A32,32,0,0,0,128,176ZM72,120a8,8,0,0,0-8-8A24,24,0,1,1,87.24,82a8,8,0,1,0,15.5-4A40,40,0,1,0,37,117.51,67.94,67.94,0,0,0,9.6,139.19a8,8,0,1,0,12.8,9.61A51.6,51.6,0,0,1,64,128,8,8,0,0,0,72,120Z">
                                                </path>
                                            </svg>
                                            @resource.ResourceVenue.Capacity
                                        </span>

                                        <span x-cloak x-show="hover" x-transition.opacity x-anchor.top.offset.5="$refs.costtype"
                                            class="rounded-md text-sm px-4 py-2 bg-white text-coffee-700 border border-coffee-500">
                                            Capacity
                                        </span>
                                    </div>

                                    <div x-data="{ hover: false }" class="text-zinc-700 group-hover:text-coffee-700">
                                        <span class="flex items-center gap-1" x-ref="costtype" x-on:mouseover="hover = true"
                                            x-on:mouseleave="hover = false">
                                            <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                fill="currentColor" viewBox="0 0 256 256">
                                                <path
                                                    d="M237.66,141.66l-32,32a8,8,0,0,1-11.32-11.32L212.69,144H123.31l-56,56H96a8,8,0,0,1,0,16H48a8,8,0,0,1-8-8V160a8,8,0,0,1,16,0v28.69l56-56V43.31L93.66,61.66A8,8,0,0,1,82.34,50.34l32-32a8,8,0,0,1,11.32,0l32,32a8,8,0,0,1-11.32,11.32L128,43.31V128h84.69l-18.35-18.34a8,8,0,0,1,11.32-11.32l32,32A8,8,0,0,1,237.66,141.66Z">
                                                </path>
                                            </svg>
                                            @resource.ResourceVenue.Size.ToString("N2") ft&sup2;
                                        </span>

                                        <span x-cloak x-show="hover" x-transition.opacity x-anchor.top.offset.5="$refs.costtype"
                                            class="rounded-md text-sm px-4 py-2 bg-white text-coffee-700 border border-coffee-500">
                                            Size of the Venue in square feet
                                        </span>
                                    </div>
                                </span>
                            </div>

                            @* 3rd Column *@
                            <div class="flex items-center justify-start gap-4 text-xs">

                                @* Full Address *@
                                <span class="flex items-center gap-2 text-zinc-700 group-hover:text-coffee-700">
                                    <span class="size-4">
                                        <svg class="size-4 me-2" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                            fill="currentColor" viewBox="0 0 256 256">
                                            <path
                                                d="M112,80a16,16,0,1,1,16,16A16,16,0,0,1,112,80ZM64,80a64,64,0,0,1,128,0c0,59.95-57.58,93.54-60,94.95a8,8,0,0,1-7.94,0C121.58,173.54,64,140,64,80Zm16,0c0,42.2,35.84,70.21,48,78.5,12.15-8.28,48-36.3,48-78.5a48,48,0,0,0-96,0Zm122.77,67.63a8,8,0,0,0-5.54,15C213.74,168.74,224,176.92,224,184c0,13.36-36.52,32-96,32s-96-18.64-96-32c0-7.08,10.26-15.26,26.77-21.36a8,8,0,0,0-5.54-15C29.22,156.49,16,169.41,16,184c0,31.18,57.71,48,112,48s112-16.82,112-48C240,169.41,226.78,156.49,202.77,147.63Z">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="line-clamp-2 overflow-hidden text-ellipsis">
                                        @fullAddress
                                    </span>
                                </span>
                            </div>
                        }
                        else if (resource.ResourceType == ResourceType.Equipment)
                        {
                            var specifications = JsonSerializer.Deserialize<Dictionary<string, string>>(resource.ResourceEquipment!.Specifications!)!;

                            @* 2nd Column *@
                            <div class="flex items-center justify-start gap-2 text-xs">

                                <span class="flex items-center justify-between gap-4">
                                    @* Resource Type *@
                                    <div
                                        class="duration-200 ease-in-out bg-zinc-200 text-zinc-500 group-hover:bg-coffee-200 group-hover:text-coffee-600 rounded-md font-semibold px-3 py-1">
                                        @resource.ResourceType
                                    </div>

                                    <div x-data="{ hover: false }" class="text-zinc-700 group-hover:text-coffee-700">
                                        <span class="flex items-center gap-1" x-ref="cost" x-on:mouseover="hover = true"
                                            x-on:mouseleave="hover = false">
                                            <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                fill="currentColor" viewBox="0 0 256 256">
                                                <path
                                                    d="M184,89.57V84c0-25.08-37.83-44-88-44S8,58.92,8,84v40c0,20.89,26.25,37.49,64,42.46V172c0,25.08,37.83,44,88,44s88-18.92,88-44V132C248,111.3,222.58,94.68,184,89.57ZM232,132c0,13.22-30.79,28-72,28-3.73,0-7.43-.13-11.08-.37C170.49,151.77,184,139,184,124V105.74C213.87,110.19,232,122.27,232,132ZM72,150.25V126.46A183.74,183.74,0,0,0,96,128a183.74,183.74,0,0,0,24-1.54v23.79A163,163,0,0,1,96,152,163,163,0,0,1,72,150.25Zm96-40.32V124c0,8.39-12.41,17.4-32,22.87V123.5C148.91,120.37,159.84,115.71,168,109.93ZM96,56c41.21,0,72,14.78,72,28s-30.79,28-72,28S24,97.22,24,84,54.79,56,96,56ZM24,124V109.93c8.16,5.78,19.09,10.44,32,13.57v23.37C36.41,141.4,24,132.39,24,124Zm64,48v-4.17c2.63.1,5.29.17,8,.17,3.88,0,7.67-.13,11.39-.35A121.92,121.92,0,0,0,120,171.41v23.46C100.41,189.4,88,180.39,88,172Zm48,26.25V174.4a179.48,179.48,0,0,0,24,1.6,183.74,183.74,0,0,0,24-1.54v23.79a165.45,165.45,0,0,1-48,0Zm64-3.38V171.5c12.91-3.13,23.84-7.79,32-13.57V172C232,180.39,219.59,189.4,200,194.87Z">
                                                </path>
                                            </svg>
                                            ₱@resource.Cost.ToString("N2")
                                        </span>

                                        <span x-cloak x-show="hover" x-transition.opacity x-anchor.top.offset.5="$refs.cost"
                                            class="rounded-md text-sm px-4 py-2 bg-white text-coffee-700 border border-coffee-500">
                                            Cost
                                        </span>
                                    </div>

                                    <div x-data="{ hover: false }" class="text-zinc-700 group-hover:text-coffee-700">
                                        <span class="flex items-center gap-1" x-ref="costtype" x-on:mouseover="hover = true"
                                            x-on:mouseleave="hover = false">
                                            <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                fill="currentColor" viewBox="0 0 256 256">
                                                <path
                                                    d="M230.33,141.06a24.43,24.43,0,0,0-21.24-4.23l-41.84,9.62A28,28,0,0,0,140,112H89.94a31.82,31.82,0,0,0-22.63,9.37L44.69,144H16A16,16,0,0,0,0,160v40a16,16,0,0,0,16,16H120a7.93,7.93,0,0,0,1.94-.24l64-16a6.94,6.94,0,0,0,1.19-.4L226,182.82l.44-.2a24.6,24.6,0,0,0,3.93-41.56ZM16,160H40v40H16Zm203.43,8.21-38,16.18L119,200H56V155.31l22.63-22.62A15.86,15.86,0,0,1,89.94,128H140a12,12,0,0,1,0,24H112a8,8,0,0,0,0,16h32a8.32,8.32,0,0,0,1.79-.2l67-15.41.31-.08a8.6,8.6,0,0,1,6.3,15.9ZM164,96a36,36,0,0,0,5.9-.48,36,36,0,1,0,28.22-47A36,36,0,1,0,164,96Zm60-12a20,20,0,1,1-20-20A20,20,0,0,1,224,84ZM164,40a20,20,0,0,1,19.25,14.61,36,36,0,0,0-15,24.93A20.42,20.42,0,0,1,164,80a20,20,0,0,1,0-40Z">
                                                </path>
                                            </svg>
                                            @resource.CostType
                                        </span>

                                        <span x-cloak x-show="hover" x-transition.opacity x-anchor.top.offset.5="$refs.costtype"
                                            class="rounded-md text-sm px-4 py-2 bg-white text-coffee-700 border border-coffee-500">
                                            Cost Type or Rate
                                        </span>
                                    </div>


                                </span>
                            </div>

                            @* 3rd Column *@
                            <div class="flex items-center justify-start gap-4 text-xs">
                                <div x-data="{ hover: false }" class="text-zinc-700 group-hover:text-coffee-700">
                                    <span class="flex items-center gap-1" x-ref="costtype" x-on:mouseover="hover = true"
                                        x-on:mouseleave="hover = false">
                                        <svg class="size-4" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="400" height="400"
                                            viewBox="0, 0, 400,400">
                                            <g>
                                                <path
                                                    d="M153.516 34.824 C 126.445 50.483,103.506 64.190,102.539 65.285 C 100.853 67.194,100.781 67.856,100.781 81.557 L 100.781 95.839 67.017 115.302 C 48.446 126.007,32.362 135.526,31.274 136.456 L 29.297 138.146 29.087 197.169 L 28.877 256.193 31.040 258.560 C 35.010 262.906,130.332 317.445,133.984 317.461 C 136.515 317.472,139.309 316.185,148.678 310.690 C 155.041 306.959,160.402 303.906,160.592 303.906 C 160.782 303.906,160.938 310.391,160.938 318.316 C 160.938 332.150,161.008 332.805,162.695 334.711 C 165.855 338.280,262.929 393.750,266.015 393.750 C 268.758 393.750,365.513 338.733,369.141 335.111 C 371.015 333.239,372.059 219.060,370.241 214.672 C 369.543 212.985,363.304 209.043,340.164 195.667 L 310.968 178.792 310.757 122.488 L 310.547 66.184 308.203 64.303 C 301.326 58.782,208.423 6.252,205.624 6.302 C 203.293 6.344,193.217 11.859,153.516 34.824 M216.602 26.531 C 222.080 29.661,226.549 32.443,226.532 32.713 C 226.506 33.138,147.600 78.923,143.723 80.763 C 141.762 81.693,120.471 69.551,122.284 68.536 C 122.932 68.174,141.969 57.189,164.588 44.125 C 187.208 31.061,205.924 20.478,206.178 20.606 C 206.432 20.735,211.123 23.401,216.602 26.531 M248.153 44.713 C 252.149 46.961,255.166 49.047,254.857 49.347 C 254.122 50.065,176.097 95.157,173.035 96.634 C 170.747 97.738,155.244 90.589,156.722 89.111 C 157.271 88.562,240.125 40.660,240.561 40.640 C 240.740 40.632,244.157 42.465,248.153 44.713 M280.002 63.086 C 285.769 66.416,290.423 69.206,290.345 69.286 C 290.034 69.606,206.095 117.969,205.851 117.969 C 205.708 117.969,200.843 115.225,195.040 111.871 L 184.489 105.773 226.424 81.470 C 249.489 68.104,268.620 57.137,268.938 57.099 C 269.257 57.062,274.235 59.756,280.002 63.086 M125.479 87.290 L 135.938 93.329 135.938 114.937 C 135.938 140.830,133.872 136.971,153.836 148.372 C 170.172 157.701,172.204 158.335,175.426 155.114 L 177.344 153.196 177.344 135.239 L 177.344 117.282 188.281 123.547 L 199.219 129.812 199.219 178.643 C 199.219 206.486,198.923 227.362,198.530 227.214 C 198.152 227.070,178.991 216.064,155.952 202.755 L 114.063 178.556 114.063 129.903 C 114.063 103.144,114.278 81.250,114.542 81.250 C 114.806 81.250,119.728 83.968,125.479 87.290 M297.656 129.896 L 297.656 178.542 255.757 202.748 C 232.713 216.061,213.552 227.070,213.179 227.214 C 212.799 227.359,212.500 205.984,212.500 178.671 L 212.500 129.867 254.492 105.587 C 277.588 92.232,296.748 81.294,297.070 81.278 C 297.393 81.263,297.656 103.141,297.656 129.896 M157.126 105.566 L 164.063 109.569 164.063 123.990 C 164.063 131.922,163.781 138.294,163.436 138.151 C 163.092 138.008,159.752 136.158,156.014 134.040 L 149.219 130.189 149.219 115.876 C 149.219 108.004,149.437 101.563,149.704 101.563 C 149.971 101.563,153.311 103.364,157.126 105.566 M100.606 124.010 L 100.391 136.302 85.938 144.690 C 68.710 154.687,72.216 154.361,59.663 147.135 L 49.257 141.145 60.761 134.509 C 67.089 130.860,78.418 124.274,85.938 119.873 C 93.457 115.473,99.882 111.838,100.215 111.796 C 100.548 111.753,100.724 117.250,100.606 124.010 M100.781 160.547 C 100.781 168.199,100.599 169.531,99.552 169.531 C 98.154 169.531,84.238 161.596,84.745 161.088 C 85.044 160.789,100.121 151.786,100.586 151.629 C 100.693 151.592,100.781 155.605,100.781 160.547 M53.555 159.180 L 64.050 165.234 64.056 186.828 C 64.064 212.691,62.015 208.840,81.829 220.250 C 97.774 229.432,99.831 230.102,103.410 227.287 L 105.469 225.668 105.469 207.417 L 105.469 189.166 116.406 195.477 L 127.344 201.788 127.344 250.568 C 127.344 280.187,127.059 299.247,126.620 299.089 C 126.221 298.945,107.061 287.949,84.042 274.652 L 42.188 250.476 42.188 201.800 C 42.188 175.029,42.384 153.125,42.624 153.125 C 42.864 153.125,47.783 155.850,53.555 159.180 M85.162 177.432 L 92.188 181.426 92.188 195.791 C 92.188 203.692,91.999 210.156,91.769 210.156 C 91.539 210.156,88.199 208.314,84.347 206.063 L 77.344 201.969 77.344 187.703 C 77.344 179.857,77.522 173.438,77.741 173.438 C 77.959 173.438,81.299 175.235,85.162 177.432 M310.088 193.871 C 313.172 195.657,315.416 197.356,315.074 197.648 C 314.733 197.940,295.716 208.974,272.814 222.168 L 231.175 246.158 225.369 242.855 C 222.176 241.038,219.750 239.365,219.978 239.136 C 220.637 238.477,303.462 190.683,303.998 190.652 C 304.264 190.637,307.004 192.086,310.088 193.871 M339.992 211.133 C 345.478 214.248,349.974 217.024,349.983 217.301 C 350.004 217.920,267.106 265.872,266.016 265.871 C 265.046 265.871,245.309 254.469,245.322 253.916 C 245.335 253.376,328.314 205.499,329.267 205.482 C 329.681 205.475,334.507 208.018,339.992 211.133 M160.750 254.477 L 160.954 287.912 151.224 293.565 C 145.873 296.675,141.299 299.219,141.060 299.219 C 140.821 299.219,140.625 279.019,140.625 254.331 L 140.625 209.442 150.586 215.242 L 160.547 221.042 160.750 254.477 M187.695 236.687 L 196.094 241.550 196.094 262.919 C 196.094 288.631,194.229 285.102,213.795 296.417 C 230.588 306.129,233.261 306.881,236.878 302.910 C 236.966 302.813,237.230 294.391,237.464 284.194 L 237.891 265.654 247.953 271.444 C 253.488 274.629,258.324 277.543,258.701 277.920 C 259.084 278.303,259.298 300.032,259.186 327.123 L 258.984 375.640 216.797 351.284 L 174.609 326.927 174.408 277.849 L 174.207 228.772 176.752 230.297 C 178.152 231.137,183.076 234.012,187.695 236.687 M356.842 327.017 C 356.302 327.520,337.402 338.562,314.844 351.556 C 292.285 364.550,273.562 375.339,273.236 375.531 C 272.911 375.723,272.735 353.818,272.846 326.853 L 273.047 277.825 315.234 253.454 L 357.422 229.084 357.623 277.594 C 357.782 315.763,357.615 326.299,356.842 327.017 M218.228 254.270 C 224.789 257.918,224.298 256.347,224.042 272.847 L 223.828 286.657 216.797 282.530 L 209.766 278.403 209.553 263.710 L 209.340 249.016 211.115 250.160 C 212.092 250.789,215.293 252.639,218.228 254.270 "
                                                    stroke="none" fill="currentColor" fill-rule="evenodd"></path>
                                            </g>
                                        </svg>
                                        @resource.ResourceEquipment.Quantity
                                    </span>

                                    <span x-cloak x-show="hover" x-transition.opacity x-anchor.top.offset.5="$refs.costtype"
                                        class="rounded-md text-sm px-4 py-2 bg-white text-coffee-700 border border-coffee-500">
                                        Quantity
                                    </span>
                                </div>

                                <div x-data="{ hover: false }" class="text-zinc-700 group-hover:text-coffee-700">
                                    <span class="flex items-center" x-ref="costtype" x-on:mouseover="hover = true"
                                        x-on:mouseleave="hover = false">
                                        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                            fill="currentColor" viewBox="0 0 256 256">
                                            <path
                                                d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216ZM112,104a8,8,0,0,1-8,8H96v40a8,8,0,0,1-16,0V112H72a8,8,0,0,1,0-16h32A8,8,0,0,1,112,104Zm80,0v48a8,8,0,0,1-16,0V125.29l-14,16a8,8,0,0,1-12,0l-14-16V152a8,8,0,0,1-16,0V104a8,8,0,0,1,14-5.27l22,25.12,22-25.12A8,8,0,0,1,192,104Z">
                                            </path>
                                        </svg>
                                        @resource.ResourceEquipment.Brand
                                    </span>

                                    <span x-cloak x-show="hover" x-transition.opacity x-anchor.top.offset.5="$refs.costtype"
                                        class="rounded-md text-sm px-4 py-2 bg-white text-coffee-700 border border-coffee-500">
                                        Brand of the Equipment
                                    </span>
                                </div>

                                <div x-data="{ hover: false }" class="text-zinc-700 group-hover:text-coffee-700">
                                    <span class="flex items-center gap-1" x-ref="costtype" x-on:mouseover="hover = true"
                                        x-on:mouseleave="hover = false">
                                        <svg class="size-4" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="400" height="400"
                                            viewBox="0, 0, 400,400">
                                            <g>
                                                <path
                                                    d="M177.344 9.424 C 138.701 28.161,101.780 44.410,55.943 62.851 C 19.707 77.431,22.525 75.355,20.368 89.063 C 14.988 123.249,15.297 165.745,21.175 199.992 C 37.385 294.436,97.217 366.401,183.925 395.746 C 200.778 401.449,202.984 401.256,226.926 391.969 C 337.816 348.956,398.463 232.853,380.809 97.374 C 377.848 74.652,380.125 77.192,353.125 66.502 C 307.137 48.294,269.691 31.940,224.293 10.236 C 197.573 -2.538,201.860 -2.464,177.344 9.424 M208.444 22.191 C 239.863 37.948,305.404 66.781,345.675 82.562 C 363.932 89.716,362.018 87.684,363.761 101.765 C 367.860 134.882,365.220 181.895,357.435 214.453 C 338.197 294.899,285.205 353.844,208.878 379.699 L 200.178 382.646 191.300 379.712 C 81.753 343.506,19.999 232.529,36.305 101.172 C 37.963 87.816,35.396 90.051,60.547 80.061 C 103.287 63.084,167.604 34.588,194.141 20.872 C 197.148 19.318,199.703 18.028,199.818 18.007 C 199.932 17.986,203.814 19.869,208.444 22.191 M185.508 117.548 C 113.223 130.679,91.419 223.522,150.324 267.363 C 203.012 306.578,279.701 270.806,283.357 205.310 L 283.824 196.949 281.053 194.178 C 274.316 187.441,267.012 191.846,266.149 203.167 C 261.798 260.256,195.560 286.651,154.401 247.697 C 112.498 208.041,138.492 138.297,196.833 133.851 C 205.199 133.214,208.594 130.659,208.594 125.000 C 208.594 117.116,201.136 114.709,185.508 117.548 M269.262 126.758 C 268.207 127.725,253.909 145.347,237.490 165.919 L 207.637 203.323 194.248 190.026 C 177.855 173.746,176.440 172.937,170.588 176.505 C 162.539 181.413,164.528 185.287,186.176 206.863 L 204.373 225.000 207.941 225.000 C 213.087 225.000,212.148 226.031,249.178 179.739 C 284.823 135.178,284.986 134.935,282.834 129.738 C 280.823 124.885,273.147 123.199,269.262 126.758 "
                                                    stroke="none" fill="currentColor" fill-rule="evenodd"></path>
                                            </g>
                                        </svg>
                                        @resource.ResourceEquipment.Warranty.ToString("Y")
                                    </span>

                                    <span x-cloak x-show="hover" x-transition.opacity x-anchor.top.offset.5="$refs.costtype"
                                        class="rounded-md text-sm px-4 py-2 bg-white text-coffee-700 border border-coffee-500">
                                        End date of Warranty
                                    </span>
                                </div>

                                <div x-data="{ hover: false }" class="text-zinc-700 group-hover:text-coffee-700">
                                    <span class="flex items-center gap-1" x-ref="costtype" x-on:mouseover="hover = true"
                                        x-on:mouseleave="hover = false">
                                        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                            fill="currentColor" viewBox="0 0 256 256">
                                            <path
                                                d="M76,60A16,16,0,1,1,60,44,16,16,0,0,1,76,60Zm52-16a16,16,0,1,0,16,16A16,16,0,0,0,128,44Zm68,32a16,16,0,1,0-16-16A16,16,0,0,0,196,76ZM60,112a16,16,0,1,0,16,16A16,16,0,0,0,60,112Zm68,0a16,16,0,1,0,16,16A16,16,0,0,0,128,112Zm68,0a16,16,0,1,0,16,16A16,16,0,0,0,196,112ZM60,180a16,16,0,1,0,16,16A16,16,0,0,0,60,180Zm68,0a16,16,0,1,0,16,16A16,16,0,0,0,128,180Zm68,0a16,16,0,1,0,16,16A16,16,0,0,0,196,180Z">
                                            </path>
                                        </svg>

                                        <span class="flex items-center gap-2 p-1 rounded-md border border-zinc-300 group-hover:border-coffee-300">
                                            @foreach (var spec in specifications.Take(2))
                                            {
                                                <span class="duration-200 ease-in-out bg-zinc-200 text-zinc-500 group-hover:bg-coffee-200 group-hover:text-coffee-500 rounded-md font-medium px-2 py-1">
                                                    @spec.Key: @spec.Value
                                                </span>
                                            }
                                        </span>
                                    </span>
    
                                    <span x-cloak x-show="hover" x-transition.opacity x-anchor.top.offset.5="$refs.costtype"
                                        class="rounded-md text-sm px-4 py-2 bg-white text-coffee-700 border border-coffee-500">
                                        Specifications of the Equipment
                                    </span>
                                </div>
                            </div>
                        }
                        else if (resource.ResourceType == ResourceType.Furniture)
                        {
                            @* 2nd Column *@
                            <div class="flex items-center justify-start gap-2 text-xs">

                                <span class="flex items-center justify-between gap-4">
                                    @* Resource Type *@
                                    <div
                                        class="duration-200 ease-in-out bg-zinc-200 text-zinc-500 group-hover:bg-coffee-200 group-hover:text-coffee-600 rounded-md font-semibold px-3 py-1">
                                        @resource.ResourceType
                                    </div>

                                    <div x-data="{ hover: false }" class="text-zinc-700 group-hover:text-coffee-700">
                                        <span class="flex items-center gap-1" x-ref="cost" x-on:mouseover="hover = true"
                                            x-on:mouseleave="hover = false">
                                            <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                fill="currentColor" viewBox="0 0 256 256">
                                                <path
                                                    d="M184,89.57V84c0-25.08-37.83-44-88-44S8,58.92,8,84v40c0,20.89,26.25,37.49,64,42.46V172c0,25.08,37.83,44,88,44s88-18.92,88-44V132C248,111.3,222.58,94.68,184,89.57ZM232,132c0,13.22-30.79,28-72,28-3.73,0-7.43-.13-11.08-.37C170.49,151.77,184,139,184,124V105.74C213.87,110.19,232,122.27,232,132ZM72,150.25V126.46A183.74,183.74,0,0,0,96,128a183.74,183.74,0,0,0,24-1.54v23.79A163,163,0,0,1,96,152,163,163,0,0,1,72,150.25Zm96-40.32V124c0,8.39-12.41,17.4-32,22.87V123.5C148.91,120.37,159.84,115.71,168,109.93ZM96,56c41.21,0,72,14.78,72,28s-30.79,28-72,28S24,97.22,24,84,54.79,56,96,56ZM24,124V109.93c8.16,5.78,19.09,10.44,32,13.57v23.37C36.41,141.4,24,132.39,24,124Zm64,48v-4.17c2.63.1,5.29.17,8,.17,3.88,0,7.67-.13,11.39-.35A121.92,121.92,0,0,0,120,171.41v23.46C100.41,189.4,88,180.39,88,172Zm48,26.25V174.4a179.48,179.48,0,0,0,24,1.6,183.74,183.74,0,0,0,24-1.54v23.79a165.45,165.45,0,0,1-48,0Zm64-3.38V171.5c12.91-3.13,23.84-7.79,32-13.57V172C232,180.39,219.59,189.4,200,194.87Z">
                                                </path>
                                            </svg>
                                            ₱@resource.Cost.ToString("N2")
                                        </span>

                                        <span x-cloak x-show="hover" x-transition.opacity x-anchor.top.offset.5="$refs.cost"
                                            class="rounded-md text-sm px-4 py-2 bg-white text-coffee-700 border border-coffee-500">
                                            Cost
                                        </span>
                                    </div>

                                    <div x-data="{ hover: false }" class="text-zinc-700 group-hover:text-coffee-700">
                                        <span class="flex items-center gap-1" x-ref="costtype" x-on:mouseover="hover = true"
                                            x-on:mouseleave="hover = false">
                                            <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                fill="currentColor" viewBox="0 0 256 256">
                                                <path
                                                    d="M230.33,141.06a24.43,24.43,0,0,0-21.24-4.23l-41.84,9.62A28,28,0,0,0,140,112H89.94a31.82,31.82,0,0,0-22.63,9.37L44.69,144H16A16,16,0,0,0,0,160v40a16,16,0,0,0,16,16H120a7.93,7.93,0,0,0,1.94-.24l64-16a6.94,6.94,0,0,0,1.19-.4L226,182.82l.44-.2a24.6,24.6,0,0,0,3.93-41.56ZM16,160H40v40H16Zm203.43,8.21-38,16.18L119,200H56V155.31l22.63-22.62A15.86,15.86,0,0,1,89.94,128H140a12,12,0,0,1,0,24H112a8,8,0,0,0,0,16h32a8.32,8.32,0,0,0,1.79-.2l67-15.41.31-.08a8.6,8.6,0,0,1,6.3,15.9ZM164,96a36,36,0,0,0,5.9-.48,36,36,0,1,0,28.22-47A36,36,0,1,0,164,96Zm60-12a20,20,0,1,1-20-20A20,20,0,0,1,224,84ZM164,40a20,20,0,0,1,19.25,14.61,36,36,0,0,0-15,24.93A20.42,20.42,0,0,1,164,80a20,20,0,0,1,0-40Z">
                                                </path>
                                            </svg>
                                            @resource.CostType
                                        </span>

                                        <span x-cloak x-show="hover" x-transition.opacity x-anchor.top.offset.5="$refs.costtype"
                                            class="rounded-md text-sm px-4 py-2 bg-white text-coffee-700 border border-coffee-500">
                                            Cost Type or Rate
                                        </span>
                                    </div>
                                </span>
                            </div>

                            @* 3rd Column *@
                            <div class="flex items-center justify-start gap-4 text-xs">

                                <div x-data="{ hover: false }" class="text-zinc-700 group-hover:text-coffee-700">
                                    <span class="flex items-center gap-1" x-ref="costtype" x-on:mouseover="hover = true"
                                        x-on:mouseleave="hover = false">
                                        <svg class="size-4" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="400" height="400"
                                            viewBox="0, 0, 400,400">
                                            <g>
                                                <path
                                                    d="M153.516 34.824 C 126.445 50.483,103.506 64.190,102.539 65.285 C 100.853 67.194,100.781 67.856,100.781 81.557 L 100.781 95.839 67.017 115.302 C 48.446 126.007,32.362 135.526,31.274 136.456 L 29.297 138.146 29.087 197.169 L 28.877 256.193 31.040 258.560 C 35.010 262.906,130.332 317.445,133.984 317.461 C 136.515 317.472,139.309 316.185,148.678 310.690 C 155.041 306.959,160.402 303.906,160.592 303.906 C 160.782 303.906,160.938 310.391,160.938 318.316 C 160.938 332.150,161.008 332.805,162.695 334.711 C 165.855 338.280,262.929 393.750,266.015 393.750 C 268.758 393.750,365.513 338.733,369.141 335.111 C 371.015 333.239,372.059 219.060,370.241 214.672 C 369.543 212.985,363.304 209.043,340.164 195.667 L 310.968 178.792 310.757 122.488 L 310.547 66.184 308.203 64.303 C 301.326 58.782,208.423 6.252,205.624 6.302 C 203.293 6.344,193.217 11.859,153.516 34.824 M216.602 26.531 C 222.080 29.661,226.549 32.443,226.532 32.713 C 226.506 33.138,147.600 78.923,143.723 80.763 C 141.762 81.693,120.471 69.551,122.284 68.536 C 122.932 68.174,141.969 57.189,164.588 44.125 C 187.208 31.061,205.924 20.478,206.178 20.606 C 206.432 20.735,211.123 23.401,216.602 26.531 M248.153 44.713 C 252.149 46.961,255.166 49.047,254.857 49.347 C 254.122 50.065,176.097 95.157,173.035 96.634 C 170.747 97.738,155.244 90.589,156.722 89.111 C 157.271 88.562,240.125 40.660,240.561 40.640 C 240.740 40.632,244.157 42.465,248.153 44.713 M280.002 63.086 C 285.769 66.416,290.423 69.206,290.345 69.286 C 290.034 69.606,206.095 117.969,205.851 117.969 C 205.708 117.969,200.843 115.225,195.040 111.871 L 184.489 105.773 226.424 81.470 C 249.489 68.104,268.620 57.137,268.938 57.099 C 269.257 57.062,274.235 59.756,280.002 63.086 M125.479 87.290 L 135.938 93.329 135.938 114.937 C 135.938 140.830,133.872 136.971,153.836 148.372 C 170.172 157.701,172.204 158.335,175.426 155.114 L 177.344 153.196 177.344 135.239 L 177.344 117.282 188.281 123.547 L 199.219 129.812 199.219 178.643 C 199.219 206.486,198.923 227.362,198.530 227.214 C 198.152 227.070,178.991 216.064,155.952 202.755 L 114.063 178.556 114.063 129.903 C 114.063 103.144,114.278 81.250,114.542 81.250 C 114.806 81.250,119.728 83.968,125.479 87.290 M297.656 129.896 L 297.656 178.542 255.757 202.748 C 232.713 216.061,213.552 227.070,213.179 227.214 C 212.799 227.359,212.500 205.984,212.500 178.671 L 212.500 129.867 254.492 105.587 C 277.588 92.232,296.748 81.294,297.070 81.278 C 297.393 81.263,297.656 103.141,297.656 129.896 M157.126 105.566 L 164.063 109.569 164.063 123.990 C 164.063 131.922,163.781 138.294,163.436 138.151 C 163.092 138.008,159.752 136.158,156.014 134.040 L 149.219 130.189 149.219 115.876 C 149.219 108.004,149.437 101.563,149.704 101.563 C 149.971 101.563,153.311 103.364,157.126 105.566 M100.606 124.010 L 100.391 136.302 85.938 144.690 C 68.710 154.687,72.216 154.361,59.663 147.135 L 49.257 141.145 60.761 134.509 C 67.089 130.860,78.418 124.274,85.938 119.873 C 93.457 115.473,99.882 111.838,100.215 111.796 C 100.548 111.753,100.724 117.250,100.606 124.010 M100.781 160.547 C 100.781 168.199,100.599 169.531,99.552 169.531 C 98.154 169.531,84.238 161.596,84.745 161.088 C 85.044 160.789,100.121 151.786,100.586 151.629 C 100.693 151.592,100.781 155.605,100.781 160.547 M53.555 159.180 L 64.050 165.234 64.056 186.828 C 64.064 212.691,62.015 208.840,81.829 220.250 C 97.774 229.432,99.831 230.102,103.410 227.287 L 105.469 225.668 105.469 207.417 L 105.469 189.166 116.406 195.477 L 127.344 201.788 127.344 250.568 C 127.344 280.187,127.059 299.247,126.620 299.089 C 126.221 298.945,107.061 287.949,84.042 274.652 L 42.188 250.476 42.188 201.800 C 42.188 175.029,42.384 153.125,42.624 153.125 C 42.864 153.125,47.783 155.850,53.555 159.180 M85.162 177.432 L 92.188 181.426 92.188 195.791 C 92.188 203.692,91.999 210.156,91.769 210.156 C 91.539 210.156,88.199 208.314,84.347 206.063 L 77.344 201.969 77.344 187.703 C 77.344 179.857,77.522 173.438,77.741 173.438 C 77.959 173.438,81.299 175.235,85.162 177.432 M310.088 193.871 C 313.172 195.657,315.416 197.356,315.074 197.648 C 314.733 197.940,295.716 208.974,272.814 222.168 L 231.175 246.158 225.369 242.855 C 222.176 241.038,219.750 239.365,219.978 239.136 C 220.637 238.477,303.462 190.683,303.998 190.652 C 304.264 190.637,307.004 192.086,310.088 193.871 M339.992 211.133 C 345.478 214.248,349.974 217.024,349.983 217.301 C 350.004 217.920,267.106 265.872,266.016 265.871 C 265.046 265.871,245.309 254.469,245.322 253.916 C 245.335 253.376,328.314 205.499,329.267 205.482 C 329.681 205.475,334.507 208.018,339.992 211.133 M160.750 254.477 L 160.954 287.912 151.224 293.565 C 145.873 296.675,141.299 299.219,141.060 299.219 C 140.821 299.219,140.625 279.019,140.625 254.331 L 140.625 209.442 150.586 215.242 L 160.547 221.042 160.750 254.477 M187.695 236.687 L 196.094 241.550 196.094 262.919 C 196.094 288.631,194.229 285.102,213.795 296.417 C 230.588 306.129,233.261 306.881,236.878 302.910 C 236.966 302.813,237.230 294.391,237.464 284.194 L 237.891 265.654 247.953 271.444 C 253.488 274.629,258.324 277.543,258.701 277.920 C 259.084 278.303,259.298 300.032,259.186 327.123 L 258.984 375.640 216.797 351.284 L 174.609 326.927 174.408 277.849 L 174.207 228.772 176.752 230.297 C 178.152 231.137,183.076 234.012,187.695 236.687 M356.842 327.017 C 356.302 327.520,337.402 338.562,314.844 351.556 C 292.285 364.550,273.562 375.339,273.236 375.531 C 272.911 375.723,272.735 353.818,272.846 326.853 L 273.047 277.825 315.234 253.454 L 357.422 229.084 357.623 277.594 C 357.782 315.763,357.615 326.299,356.842 327.017 M218.228 254.270 C 224.789 257.918,224.298 256.347,224.042 272.847 L 223.828 286.657 216.797 282.530 L 209.766 278.403 209.553 263.710 L 209.340 249.016 211.115 250.160 C 212.092 250.789,215.293 252.639,218.228 254.270 "
                                                    stroke="none" fill="currentColor" fill-rule="evenodd"></path>
                                            </g>
                                        </svg>
                                        @resource.ResourceFurniture.Quantity
                                    </span>

                                    <span x-cloak x-show="hover" x-transition.opacity x-anchor.top.offset.5="$refs.costtype"
                                        class="rounded-md text-sm px-4 py-2 bg-white text-coffee-700 border border-coffee-500">
                                        Quantity
                                    </span>
                                </div>

                                <div x-data="{ hover: false }" class="text-zinc-700 group-hover:text-coffee-700">
                                    <span class="flex items-center gap-1" x-ref="costtype" x-on:mouseover="hover = true"
                                        x-on:mouseleave="hover = false">
                                        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                            fill="currentColor" viewBox="0 0 256 256">
                                            <path
                                                d="M251.34,112,183.88,44.08a96.1,96.1,0,0,0-135.77,0l-.09.09L34.25,58.4A8,8,0,0,0,45.74,69.53L59.47,55.35a79.92,79.92,0,0,1,18.71-13.9L124.68,88l-96,96a16,16,0,0,0,0,22.63l20.69,20.69a16,16,0,0,0,22.63,0l96-96,14.34,14.34h0L200,163.3a16,16,0,0,0,22.63,0l28.69-28.69A16,16,0,0,0,251.34,112ZM60.68,216,40,195.31l68-68L128.68,148ZM162.34,114.32,140,136.67,119.31,116l22.35-22.35a8,8,0,0,0,0-11.32L94.32,35a80,80,0,0,1,78.23,20.41l44.22,44.51L188,128.66l-14.34-14.34A8,8,0,0,0,162.34,114.32Zm49,37.66-12-12L228,111.25l12,12Z">
                                            </path>
                                        </svg>
                                        @if(resource.ResourceFurniture.Material == FurnitureMaterial.Other)
                                        {
                                            @resource.ResourceFurniture.OtherMaterial
                                        }
                                        else
                                        {
                                            @resource.ResourceFurniture.Material
                                        }
                                    </span>

                                    <span x-cloak x-show="hover" x-transition.opacity x-anchor.top.offset.5="$refs.costtype"
                                        class="rounded-md text-sm px-4 py-2 bg-white text-coffee-700 border border-coffee-500">
                                        Material used for the Furniture
                                    </span>
                                </div>

                                <div x-data="{ hover: false }" class="text-zinc-700 group-hover:text-coffee-700">
                                    <span class="flex items-center gap-1" x-ref="costtype" x-on:mouseover="hover = true"
                                        x-on:mouseleave="hover = false">
                                        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                            fill="currentColor" viewBox="0 0 256 256">
                                            <path
                                                d="M208,32H160a16,16,0,0,0-16,16V208a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32Zm0,176H160V176h24a8,8,0,0,0,0-16H160V136h24a8,8,0,0,0,0-16H160V96h24a8,8,0,0,0,0-16H160V48h48V208ZM77.66,26.34a8,8,0,0,0-11.32,0l-32,32A8,8,0,0,0,32,64V208a16,16,0,0,0,16,16H96a16,16,0,0,0,16-16V64a8,8,0,0,0-2.34-5.66ZM48,176V80H64v96ZM80,80H96v96H80ZM72,43.31,92.69,64H51.31ZM48,208V192H96v16Z">
                                            </path>
                                        </svg>
                                        @resource.ResourceFurniture.Dimensions
                                    </span>
                                    <span x-cloak x-show="hover" x-transition.opacity x-anchor.top.offset.5="$refs.costtype"
                                        class="rounded-md text-sm px-4 py-2 bg-white text-coffee-700 border border-coffee-500">
                                        Dimensions
                                    </span>
                                </div>

                                <div x-data="{ hover: false }" class="text-zinc-700 group-hover:text-coffee-700">
                                    <span class="flex items-center gap-1" x-ref="costtype" x-on:mouseover="hover = true"
                                        x-on:mouseleave="hover = false">
                                        <svg class="size-4" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="400" height="400"
                                            viewBox="0, 0, 400,400">
                                            <g>
                                                <path
                                                    d="M177.344 9.424 C 138.701 28.161,101.780 44.410,55.943 62.851 C 19.707 77.431,22.525 75.355,20.368 89.063 C 14.988 123.249,15.297 165.745,21.175 199.992 C 37.385 294.436,97.217 366.401,183.925 395.746 C 200.778 401.449,202.984 401.256,226.926 391.969 C 337.816 348.956,398.463 232.853,380.809 97.374 C 377.848 74.652,380.125 77.192,353.125 66.502 C 307.137 48.294,269.691 31.940,224.293 10.236 C 197.573 -2.538,201.860 -2.464,177.344 9.424 M208.444 22.191 C 239.863 37.948,305.404 66.781,345.675 82.562 C 363.932 89.716,362.018 87.684,363.761 101.765 C 367.860 134.882,365.220 181.895,357.435 214.453 C 338.197 294.899,285.205 353.844,208.878 379.699 L 200.178 382.646 191.300 379.712 C 81.753 343.506,19.999 232.529,36.305 101.172 C 37.963 87.816,35.396 90.051,60.547 80.061 C 103.287 63.084,167.604 34.588,194.141 20.872 C 197.148 19.318,199.703 18.028,199.818 18.007 C 199.932 17.986,203.814 19.869,208.444 22.191 M185.508 117.548 C 113.223 130.679,91.419 223.522,150.324 267.363 C 203.012 306.578,279.701 270.806,283.357 205.310 L 283.824 196.949 281.053 194.178 C 274.316 187.441,267.012 191.846,266.149 203.167 C 261.798 260.256,195.560 286.651,154.401 247.697 C 112.498 208.041,138.492 138.297,196.833 133.851 C 205.199 133.214,208.594 130.659,208.594 125.000 C 208.594 117.116,201.136 114.709,185.508 117.548 M269.262 126.758 C 268.207 127.725,253.909 145.347,237.490 165.919 L 207.637 203.323 194.248 190.026 C 177.855 173.746,176.440 172.937,170.588 176.505 C 162.539 181.413,164.528 185.287,186.176 206.863 L 204.373 225.000 207.941 225.000 C 213.087 225.000,212.148 226.031,249.178 179.739 C 284.823 135.178,284.986 134.935,282.834 129.738 C 280.823 124.885,273.147 123.199,269.262 126.758 "
                                                    stroke="none" fill="currentColor" fill-rule="evenodd"></path>
                                            </g>
                                        </svg>
                                        @resource.ResourceFurniture.Warranty.ToString("Y")
                                    </span>

                                    <span x-cloak x-show="hover" x-transition.opacity x-anchor.top.offset.5="$refs.costtype"
                                        class="rounded-md text-sm px-4 py-2 bg-white text-coffee-700 border border-coffee-500">
                                        End date of Warranty
                                    </span>
                                </div>
                            </div>
                        }
                        else if (resource.ResourceType == ResourceType.Catering)
                        {
                            var menuItems = JsonSerializer.Deserialize<List<string>>(resource.ResourceCatering!.MenuItems!)!;

                            @* 2nd Column *@
                            <div class="flex items-center justify-start gap-2 text-xs">

                                <span class="flex items-center justify-between gap-4">
                                    @* Resource Type *@
                                    <div
                                        class="duration-200 ease-in-out bg-zinc-200 text-zinc-500 group-hover:bg-coffee-200 group-hover:text-coffee-600 rounded-md font-semibold px-3 py-1">
                                        @resource.ResourceType
                                    </div>

                                    <div x-data="{ hover: false }" class="text-zinc-700 group-hover:text-coffee-700">
                                        <span class="flex items-center gap-1" x-ref="cost" x-on:mouseover="hover = true"
                                            x-on:mouseleave="hover = false">
                                            <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                fill="currentColor" viewBox="0 0 256 256">
                                                <path
                                                    d="M184,89.57V84c0-25.08-37.83-44-88-44S8,58.92,8,84v40c0,20.89,26.25,37.49,64,42.46V172c0,25.08,37.83,44,88,44s88-18.92,88-44V132C248,111.3,222.58,94.68,184,89.57ZM232,132c0,13.22-30.79,28-72,28-3.73,0-7.43-.13-11.08-.37C170.49,151.77,184,139,184,124V105.74C213.87,110.19,232,122.27,232,132ZM72,150.25V126.46A183.74,183.74,0,0,0,96,128a183.74,183.74,0,0,0,24-1.54v23.79A163,163,0,0,1,96,152,163,163,0,0,1,72,150.25Zm96-40.32V124c0,8.39-12.41,17.4-32,22.87V123.5C148.91,120.37,159.84,115.71,168,109.93ZM96,56c41.21,0,72,14.78,72,28s-30.79,28-72,28S24,97.22,24,84,54.79,56,96,56ZM24,124V109.93c8.16,5.78,19.09,10.44,32,13.57v23.37C36.41,141.4,24,132.39,24,124Zm64,48v-4.17c2.63.1,5.29.17,8,.17,3.88,0,7.67-.13,11.39-.35A121.92,121.92,0,0,0,120,171.41v23.46C100.41,189.4,88,180.39,88,172Zm48,26.25V174.4a179.48,179.48,0,0,0,24,1.6,183.74,183.74,0,0,0,24-1.54v23.79a165.45,165.45,0,0,1-48,0Zm64-3.38V171.5c12.91-3.13,23.84-7.79,32-13.57V172C232,180.39,219.59,189.4,200,194.87Z">
                                                </path>
                                            </svg>
                                            ₱@resource.Cost.ToString("N2")
                                        </span>

                                        <span x-cloak x-show="hover" x-transition.opacity x-anchor.top.offset.5="$refs.cost"
                                            class="rounded-md text-sm px-4 py-2 bg-white text-coffee-700 border border-coffee-500">
                                            Cost
                                        </span>
                                    </div>

                                    <div x-data="{ hover: false }" class="text-zinc-700 group-hover:text-coffee-700">
                                        <span class="flex items-center gap-1" x-ref="costtype" x-on:mouseover="hover = true"
                                            x-on:mouseleave="hover = false">
                                            <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                fill="currentColor" viewBox="0 0 256 256">
                                                <path
                                                    d="M230.33,141.06a24.43,24.43,0,0,0-21.24-4.23l-41.84,9.62A28,28,0,0,0,140,112H89.94a31.82,31.82,0,0,0-22.63,9.37L44.69,144H16A16,16,0,0,0,0,160v40a16,16,0,0,0,16,16H120a7.93,7.93,0,0,0,1.94-.24l64-16a6.94,6.94,0,0,0,1.19-.4L226,182.82l.44-.2a24.6,24.6,0,0,0,3.93-41.56ZM16,160H40v40H16Zm203.43,8.21-38,16.18L119,200H56V155.31l22.63-22.62A15.86,15.86,0,0,1,89.94,128H140a12,12,0,0,1,0,24H112a8,8,0,0,0,0,16h32a8.32,8.32,0,0,0,1.79-.2l67-15.41.31-.08a8.6,8.6,0,0,1,6.3,15.9ZM164,96a36,36,0,0,0,5.9-.48,36,36,0,1,0,28.22-47A36,36,0,1,0,164,96Zm60-12a20,20,0,1,1-20-20A20,20,0,0,1,224,84ZM164,40a20,20,0,0,1,19.25,14.61,36,36,0,0,0-15,24.93A20.42,20.42,0,0,1,164,80a20,20,0,0,1,0-40Z">
                                                </path>
                                            </svg>
                                            @resource.CostType
                                        </span>

                                        <span x-cloak x-show="hover" x-transition.opacity x-anchor.top.offset.5="$refs.costtype"
                                            class="rounded-md text-sm px-4 py-2 bg-white text-coffee-700 border border-coffee-500">
                                            Cost Type or Rate
                                        </span>
                                    </div>
                                </span>
                            </div>

                            @* 3rd Column *@
                            <div class="flex items-center justify-start gap-4 text-xs">

                                <div x-data="{ hover: false }" class="text-zinc-700 group-hover:text-coffee-700">
                                    <span class="flex items-center gap-1" x-ref="costtype" x-on:mouseover="hover = true"
                                        x-on:mouseleave="hover = false">
                                        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                            fill="currentColor" viewBox="0 0 256 256">
                                            <path
                                                d="M244.8,150.4a8,8,0,0,1-11.2-1.6A51.6,51.6,0,0,0,192,128a8,8,0,0,1-7.37-4.89,8,8,0,0,1,0-6.22A8,8,0,0,1,192,112a24,24,0,1,0-23.24-30,8,8,0,1,1-15.5-4A40,40,0,1,1,219,117.51a67.94,67.94,0,0,1,27.43,21.68A8,8,0,0,1,244.8,150.4ZM190.92,212a8,8,0,1,1-13.84,8,57,57,0,0,0-98.16,0,8,8,0,1,1-13.84-8,72.06,72.06,0,0,1,33.74-29.92,48,48,0,1,1,58.36,0A72.06,72.06,0,0,1,190.92,212ZM128,176a32,32,0,1,0-32-32A32,32,0,0,0,128,176ZM72,120a8,8,0,0,0-8-8A24,24,0,1,1,87.24,82a8,8,0,1,0,15.5-4A40,40,0,1,0,37,117.51,67.94,67.94,0,0,0,9.6,139.19a8,8,0,1,0,12.8,9.61A51.6,51.6,0,0,1,64,128,8,8,0,0,0,72,120Z">
                                            </path>
                                        </svg>
                                        @resource.ResourceCatering.GuestCapacity
                                    </span>

                                    <span x-cloak x-show="hover" x-transition.opacity x-anchor.top.offset.5="$refs.costtype"
                                        class="rounded-md text-sm px-4 py-2 bg-white text-coffee-700 border border-coffee-500">
                                        Capacity of guests that the menu can cater
                                    </span>
                                </div>

                                <div x-data="{ hover: false }" class="text-zinc-700 group-hover:text-coffee-700">
                                    <span class="flex items-center gap-1" x-ref="costtype" x-on:mouseover="hover = true"
                                        x-on:mouseleave="hover = false">
                                        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                            fill="currentColor" viewBox="0 0 256 256">
                                            <path
                                                d="M224,128a8,8,0,0,1-8,8H128a8,8,0,0,1,0-16h88A8,8,0,0,1,224,128ZM128,72h88a8,8,0,0,0,0-16H128a8,8,0,0,0,0,16Zm88,112H128a8,8,0,0,0,0,16h88a8,8,0,0,0,0-16ZM82.34,42.34,56,68.69,45.66,58.34A8,8,0,0,0,34.34,69.66l16,16a8,8,0,0,0,11.32,0l32-32A8,8,0,0,0,82.34,42.34Zm0,64L56,132.69,45.66,122.34a8,8,0,0,0-11.32,11.32l16,16a8,8,0,0,0,11.32,0l32-32a8,8,0,0,0-11.32-11.32Zm0,64L56,196.69,45.66,186.34a8,8,0,0,0-11.32,11.32l16,16a8,8,0,0,0,11.32,0l32-32a8,8,0,0,0-11.32-11.32Z">
                                            </path>
                                        </svg>
                                        <span class="flex items-center gap-2 p-1 rounded-md border border-zinc-300 group-hover:border-coffee-300">
                                            @foreach (var menu in menuItems.Take(4))
                                            {
                                                <span class="duration-200 ease-in-out bg-zinc-200 text-zinc-500 group-hover:bg-coffee-200 group-hover:text-coffee-500 rounded-md font-medium px-2 py-1">
                                                    @menu
                                                </span>
                                            }
                                        </span>
                                    </span>
                                    <span x-cloak x-show="hover" x-transition.opacity x-anchor.top.offset.5="$refs.costtype"
                                        class="rounded-md text-sm px-4 py-2 bg-white text-coffee-700 border border-coffee-500">
                                        Menu Items
                                    </span>
                                </div>
                            </div>
                        }
                        else if (resource.ResourceType == ResourceType.Personnel)
                        {
                            @* 2nd Column *@
                            <div class="flex items-center justify-start gap-2 text-xs">

                                <span class="flex items-center justify-between gap-4">
                                    @* Resource Type *@
                                    <div
                                        class="duration-200 ease-in-out bg-zinc-200 text-zinc-500 group-hover:bg-coffee-200 group-hover:text-coffee-600 rounded-md font-semibold px-3 py-1">
                                        @resource.ResourceType
                                    </div>

                                    <div x-data="{ hover: false }" class="text-zinc-700 group-hover:text-coffee-700">
                                        <span class="flex items-center gap-1" x-ref="cost" x-on:mouseover="hover = true"
                                            x-on:mouseleave="hover = false">
                                            <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                fill="currentColor" viewBox="0 0 256 256">
                                                <path
                                                    d="M184,89.57V84c0-25.08-37.83-44-88-44S8,58.92,8,84v40c0,20.89,26.25,37.49,64,42.46V172c0,25.08,37.83,44,88,44s88-18.92,88-44V132C248,111.3,222.58,94.68,184,89.57ZM232,132c0,13.22-30.79,28-72,28-3.73,0-7.43-.13-11.08-.37C170.49,151.77,184,139,184,124V105.74C213.87,110.19,232,122.27,232,132ZM72,150.25V126.46A183.74,183.74,0,0,0,96,128a183.74,183.74,0,0,0,24-1.54v23.79A163,163,0,0,1,96,152,163,163,0,0,1,72,150.25Zm96-40.32V124c0,8.39-12.41,17.4-32,22.87V123.5C148.91,120.37,159.84,115.71,168,109.93ZM96,56c41.21,0,72,14.78,72,28s-30.79,28-72,28S24,97.22,24,84,54.79,56,96,56ZM24,124V109.93c8.16,5.78,19.09,10.44,32,13.57v23.37C36.41,141.4,24,132.39,24,124Zm64,48v-4.17c2.63.1,5.29.17,8,.17,3.88,0,7.67-.13,11.39-.35A121.92,121.92,0,0,0,120,171.41v23.46C100.41,189.4,88,180.39,88,172Zm48,26.25V174.4a179.48,179.48,0,0,0,24,1.6,183.74,183.74,0,0,0,24-1.54v23.79a165.45,165.45,0,0,1-48,0Zm64-3.38V171.5c12.91-3.13,23.84-7.79,32-13.57V172C232,180.39,219.59,189.4,200,194.87Z">
                                                </path>
                                            </svg>
                                            ₱@resource.Cost.ToString("N2")
                                        </span>

                                        <span x-cloak x-show="hover" x-transition.opacity x-anchor.top.offset.5="$refs.cost"
                                            class="rounded-md text-sm px-4 py-2 bg-white text-coffee-700 border border-coffee-500">
                                            Cost
                                        </span>
                                    </div>

                                    <div x-data="{ hover: false }" class="text-zinc-700 group-hover:text-coffee-700">
                                        <span class="flex items-center gap-1" x-ref="costtype" x-on:mouseover="hover = true"
                                            x-on:mouseleave="hover = false">
                                            <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                fill="currentColor" viewBox="0 0 256 256">
                                                <path
                                                    d="M230.33,141.06a24.43,24.43,0,0,0-21.24-4.23l-41.84,9.62A28,28,0,0,0,140,112H89.94a31.82,31.82,0,0,0-22.63,9.37L44.69,144H16A16,16,0,0,0,0,160v40a16,16,0,0,0,16,16H120a7.93,7.93,0,0,0,1.94-.24l64-16a6.94,6.94,0,0,0,1.19-.4L226,182.82l.44-.2a24.6,24.6,0,0,0,3.93-41.56ZM16,160H40v40H16Zm203.43,8.21-38,16.18L119,200H56V155.31l22.63-22.62A15.86,15.86,0,0,1,89.94,128H140a12,12,0,0,1,0,24H112a8,8,0,0,0,0,16h32a8.32,8.32,0,0,0,1.79-.2l67-15.41.31-.08a8.6,8.6,0,0,1,6.3,15.9ZM164,96a36,36,0,0,0,5.9-.48,36,36,0,1,0,28.22-47A36,36,0,1,0,164,96Zm60-12a20,20,0,1,1-20-20A20,20,0,0,1,224,84ZM164,40a20,20,0,0,1,19.25,14.61,36,36,0,0,0-15,24.93A20.42,20.42,0,0,1,164,80a20,20,0,0,1,0-40Z">
                                                </path>
                                            </svg>
                                            @resource.CostType
                                        </span>

                                        <span x-cloak x-show="hover" x-transition.opacity x-anchor.top.offset.5="$refs.costtype"
                                            class="rounded-md text-sm px-4 py-2 bg-white text-coffee-700 border border-coffee-500">
                                            Cost Type or Rate
                                        </span>
                                    </div>
                                </span>
                            </div>

                            @* 3rd Column *@
                            <div class="flex items-center justify-start gap-4 text-xs">

                                <div x-data="{ hover: false }" class="text-zinc-700 group-hover:text-coffee-700">
                                    <span class="flex items-center gap-1" x-ref="costtype" x-on:mouseover="hover = true"
                                        x-on:mouseleave="hover = false">
                                        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                            fill="currentColor" viewBox="0 0 256 256">
                                            <path
                                                d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm16-40a8,8,0,0,1-8,8,16,16,0,0,1-16-16V128a8,8,0,0,1,0-16,16,16,0,0,1,16,16v40A8,8,0,0,1,144,176ZM112,84a12,12,0,1,1,12,12A12,12,0,0,1,112,84Z">
                                            </path>
                                        </svg>
                                        @resource.ResourcePersonnel.Position
                                    </span>

                                    <span x-cloak x-show="hover" x-transition.opacity x-anchor.top.offset.5="$refs.costtype"
                                        class="rounded-md text-sm px-4 py-2 bg-white text-coffee-700 border border-coffee-500">
                                        Position of the Personnel/s
                                    </span>
                                </div>

                                <div x-data="{ hover: false }" class="text-zinc-700 group-hover:text-coffee-700">
                                    <span class="flex items-center gap-1" x-ref="costtype" x-on:mouseover="hover = true"
                                        x-on:mouseleave="hover = false">
                                        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                            fill="currentColor" viewBox="0 0 256 256">
                                            <path
                                                d="M136,72v43.05l36.42-18.21a8,8,0,0,1,7.16,14.31l-48,24A8,8,0,0,1,120,128V72a8,8,0,0,1,16,0Zm-8,144a88,88,0,1,1,88-88,8,8,0,0,0,16,0A104,104,0,1,0,128,232a8,8,0,0,0,0-16Zm103.73,5.94a8,8,0,1,1-15.46,4.11C213.44,215.42,203.46,208,192,208s-21.44,7.42-24.27,18.05A8,8,0,0,1,160,232a8.15,8.15,0,0,1-2.06-.27,8,8,0,0,1-5.67-9.79,40,40,0,0,1,17.11-23.32,32,32,0,1,1,45.23,0A40,40,0,0,1,231.73,221.94ZM176,176a16,16,0,1,0,16-16A16,16,0,0,0,176,176Z">
                                            </path>
                                        </svg>
                                        @DateTime.Today.Add(resource.ResourcePersonnel.ShiftStart).ToString("hh:mmtt", CultureInfo.InvariantCulture)
                                        -
                                        @DateTime.Today.Add(resource.ResourcePersonnel.ShiftEnd).ToString("hh:mmtt", CultureInfo.InvariantCulture)
                                        
                                    </span>
                                    <span x-cloak x-show="hover" x-transition.opacity x-anchor.top.offset.5="$refs.costtype"
                                        class="rounded-md text-sm px-4 py-2 bg-white text-coffee-700 border border-coffee-500">
                                        Shift Schedule
                                    </span>
                                </div>

                                <div x-data="{ hover: false }" class="text-zinc-700 group-hover:text-coffee-700">
                                    <span class="flex items-center gap-1" x-ref="costtype" x-on:mouseover="hover = true"
                                        x-on:mouseleave="hover = false">
                                        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                            fill="currentColor" viewBox="0 0 256 256">
                                            <path
                                                d="M254.3,107.91,228.78,56.85a16,16,0,0,0-21.47-7.15L182.44,62.13,130.05,48.27a8.14,8.14,0,0,0-4.1,0L73.56,62.13,48.69,49.7a16,16,0,0,0-21.47,7.15L1.7,107.9a16,16,0,0,0,7.15,21.47l27,13.51,55.49,39.63a8.06,8.06,0,0,0,2.71,1.25l64,16a8,8,0,0,0,7.6-2.1l55.07-55.08,26.42-13.21a16,16,0,0,0,7.15-21.46Zm-54.89,33.37L165,113.72a8,8,0,0,0-10.68.61C136.51,132.27,116.66,130,104,122L147.24,80h31.81l27.21,54.41ZM41.53,64,62,74.22,36.43,125.27,16,115.06Zm116,119.13L99.42,168.61l-49.2-35.14,28-56L128,64.28l9.8,2.59-45,43.68-.08.09a16,16,0,0,0,2.72,24.81c20.56,13.13,45.37,11,64.91-5L188,152.66Zm62-57.87-25.52-51L214.47,64,240,115.06Zm-87.75,92.67a8,8,0,0,1-7.75,6.06,8.13,8.13,0,0,1-1.95-.24L80.41,213.33a7.89,7.89,0,0,1-2.71-1.25L51.35,193.26a8,8,0,0,1,9.3-13l25.11,17.94L126,208.24A8,8,0,0,1,131.82,217.94Z">
                                            </path>
                                        </svg>
                                        @resource.ResourcePersonnel.Experience
                                    </span>
                                    <span x-cloak x-show="hover" x-transition.opacity x-anchor.top.offset.5="$refs.costtype"
                                        class="rounded-md text-sm px-4 py-2 bg-white text-coffee-700 border border-coffee-500">
                                        Personnel Experience
                                    </span>
                                </div>
                            </div>
                        }
                    </div>

                    @* Eye Button *@
                    <div class="flex items-center justify-end flex-shrink">
                        <button type="menu" x-on:click="viewResourceModal = !viewResourceModal"
                            hx-get="/organizer/view-resource/@resource.Id" hx-target="#viewResourceModalContent"
                            hx-swap="innerHTML"
                            class="duration-200 ease-in-out rounded-lg focus:outline-none text-center p-2 hover:bg-coffee-700 active:bg-coffee-900 text-zinc-500 hover:text-coffee-50 active:text-coffee-50">
                            <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                viewBox="0 0 256 256">
                                <path
                                    d="M247.31,124.76c-.35-.79-8.82-19.58-27.65-38.41C194.57,61.26,162.88,48,128,48S61.43,61.26,36.34,86.35C17.51,105.18,9,124,8.69,124.76a8,8,0,0,0,0,6.5c.35.79,8.82,19.57,27.65,38.4C61.43,194.74,93.12,208,128,208s66.57-13.26,91.66-38.34c18.83-18.83,27.3-37.61,27.65-38.4A8,8,0,0,0,247.31,124.76ZM128,192c-30.78,0-57.67-11.19-79.93-33.25A133.47,133.47,0,0,1,25,128,133.33,133.33,0,0,1,48.07,97.25C70.33,75.19,97.22,64,128,64s57.67,11.19,79.93,33.25A133.46,133.46,0,0,1,231.05,128C223.84,141.46,192.43,192,128,192Zm0-112a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160Z">
                                </path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

        }
    </div>
}
else
{
    <div class="flex flex-col items-center justify-center size-full font-medium text-coffee-600">
        <svg class="size-24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="400"
            height="400" viewBox="0, 0, 400,400">
            <g>
                <path
                    d="M125.623 35.817 C 71.989 64.086,3.112 101.357,1.758 102.844 C -0.186 104.979,-0.606 109.534,0.848 112.725 C 1.918 115.074,1.961 115.099,30.178 129.672 L 53.715 141.828 28.752 154.703 C 13.209 162.720,3.074 168.411,1.894 169.787 C -0.663 172.768,-0.728 178.006,1.758 180.782 C 4.303 183.624,130.438 250.781,133.231 250.781 C 134.604 250.781,147.709 244.470,167.298 234.375 C 184.807 225.352,199.523 217.969,200.000 217.969 C 200.477 217.969,215.193 225.352,232.702 234.375 C 252.291 244.470,265.396 250.781,266.769 250.781 C 269.562 250.781,395.697 183.624,398.242 180.782 C 400.728 178.006,400.663 172.768,398.106 169.787 C 396.926 168.411,386.791 162.720,371.248 154.703 L 346.285 141.828 369.822 129.672 C 398.039 115.099,398.082 115.074,399.152 112.725 C 400.606 109.534,400.186 104.979,398.242 102.846 C 396.005 100.391,270.896 33.590,267.505 33.040 C 265.350 32.690,260.269 35.060,233.008 49.127 C 215.425 58.201,200.571 65.625,200.000 65.625 C 199.429 65.625,184.655 58.242,167.169 49.219 C 132.066 31.104,133.617 31.604,125.623 35.817 M254.126 114.047 C 283.599 129.292,307.648 141.830,307.568 141.910 C 307.488 141.990,283.253 154.559,253.712 169.841 L 200.003 197.626 146.073 169.731 L 92.143 141.835 98.611 138.532 C 102.168 136.715,126.348 124.178,152.344 110.673 C 178.340 97.167,199.818 86.164,200.073 86.223 C 200.328 86.281,224.652 98.801,254.126 114.047 M70.558 241.323 C 66.312 243.987,66.334 243.796,66.574 275.369 C 66.788 303.450,66.861 304.709,68.359 306.200 C 70.391 308.221,179.163 366.340,181.961 366.900 C 183.133 367.134,185.399 366.780,186.996 366.113 C 192.412 363.851,192.244 365.909,192.008 304.611 L 191.797 249.871 189.245 247.592 C 184.779 243.602,183.273 244.020,160.547 255.552 C 131.648 270.217,134.299 270.349,101.172 252.605 C 77.139 239.733,74.590 238.793,70.558 241.323 M319.062 241.872 C 316.957 242.988,306.445 248.589,295.703 254.318 C 266.118 270.098,268.033 270.056,239.453 255.552 C 216.727 244.020,215.221 243.602,210.755 247.592 L 208.203 249.871 207.992 304.611 C 207.756 365.909,207.588 363.851,213.004 366.113 C 214.601 366.780,216.867 367.134,218.039 366.900 C 220.837 366.340,329.609 308.221,331.641 306.200 C 333.494 304.357,334.547 247.773,332.790 244.489 C 330.333 239.898,324.782 238.840,319.062 241.872 "
                    stroke="none" fill="currentColor" fill-rule="evenodd"></path>
            </g>
        </svg>
        <p class="text-base mt-4">No resources found.</p>

        <p class="text-sm text-coffee-500">Try adding a new resource.</p>
    </div>
}
</div>