@model AddResourceViewModel


@if (Model.Type == ResourceType.Venue)
{
    Console.WriteLine(Model.Type);

    <span class="absolute flex items-center gap-1 start-4 -top-3 text-sm font-light text-pumpkin-400 bg-charcoal-900 px-2">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
            viewBox="0 0 256 256">
            <path
                d="M112,80a16,16,0,1,1,16,16A16,16,0,0,1,112,80ZM64,80a64,64,0,0,1,128,0c0,59.95-57.58,93.54-60,94.95a8,8,0,0,1-7.94,0C121.58,173.54,64,140,64,80Zm16,0c0,42.2,35.84,70.21,48,78.5,12.15-8.28,48-36.3,48-78.5a48,48,0,0,0-96,0Zm122.77,67.63a8,8,0,0,0-5.54,15C213.74,168.74,224,176.92,224,184c0,13.36-36.52,32-96,32s-96-18.64-96-32c0-7.08,10.26-15.26,26.77-21.36a8,8,0,0,0-5.54-15C29.22,156.49,16,169.41,16,184c0,31.18,57.71,48,112,48s112-16.82,112-48C240,169.41,226.78,156.49,202.77,147.63Z">
            </path>
        </svg>
        Venue Information
    </span>

    @* Address Line 1 *@
    <div class="flex flex-col col-span-full gap-1 relative">
        <label for="addressline1" class="text-xs text-charcoal-300">Address Line 1</label>
        <input type="text" class="input-charcoal-dark p-2" id="addressline1" asp-for="@Model.AddressLine1"
            placeholder="Type address here" />
        <div id="validation-AddressLine1">
        </div>
    </div>

    @* Address Line 2 *@
    <div class="flex flex-col col-span-full gap-1 relative">
        <label for="addressline2" class="text-xs text-charcoal-300">Address Line 2</label>
        <input type="text" class="input-charcoal-dark p-2" id="addressline2" asp-for="@Model.AddressLine2"
            placeholder="Type address here" />
        <div id="validation-AddressLine2">
        </div>
    </div>

    @* City/Municipality *@
    <div class="flex flex-col col-span-2 gap-1 relative">
        <label for="citymunicipality" class="text-xs text-charcoal-300">City/Municipality</label>
        <input disabled readonly type="text" class="input-charcoal-dark p-2" id="citymunicipality" value="Davao City" />
    </div>

    @* Province *@
    <div class="flex flex-col col-span-3 gap-1 relative">
        <label for="province" class="text-xs text-charcoal-300">Province</label>
        <input disabled readonly type="text" class="input-charcoal-dark p-2" id="province" value="Davao del Sur" />
    </div>

    @* Capacity *@
    <div class="flex flex-col gap-1 relative">
        <label for="capacity" class="text-xs text-charcoal-300">Capacity</label>
        <input type="number" inputmode="numeric" class="input-charcoal-dark p-2" id="capacity" asp-for="@Model.Capacity"
            placeholder="Enter capacity here" />
            <div id="validation-Capacity">
        </div>
    </div>

    @* Size *@
    <div class="flex flex-col col-span-3 gap-1 w-full relative">
        <label for="size" class="text-xs text-charcoal-300">Size</label>
        <input type="text" class="input-charcoal-dark p-2" id="size" asp-for="@Model.Size" placeholder="Type size here" />
        <div id="validation-Size">
        </div>
    </div>
}

else if (Model.Type == ResourceType.Equipment)
{
    Console.WriteLine(Model.Type);
    <span class="absolute flex items-center gap-1 start-4 -top-3 text-sm font-light text-pumpkin-400 bg-charcoal-900 px-2">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                viewBox="0 0 256 256">
                <path
                    d="M224,64H176V56a24,24,0,0,0-24-24H104A24,24,0,0,0,80,56v8H32A16,16,0,0,0,16,80V192a16,16,0,0,0,16,16H224a16,16,0,0,0,16-16V80A16,16,0,0,0,224,64ZM96,56a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8v8H96ZM224,80v32H192v-8a8,8,0,0,0-16,0v8H80v-8a8,8,0,0,0-16,0v8H32V80Zm0,112H32V128H64v8a8,8,0,0,0,16,0v-8h96v8a8,8,0,0,0,16,0v-8h32v64Z">
                </path>
            </svg>
        Equipment Information
    </span>

    @* Brand *@
    <div class="flex flex-col col-span-full gap-1 relative">
        <label for="brand" class="text-xs text-charcoal-300">Brand</label>
        <input type="text" class="input-charcoal-dark p-2" id="brand" asp-for="@Model.Brand"
            placeholder="Type brand here" />
    </div>

    @* Specifications *@
    <div class="flex flex-col col-span-full gap-2 w-full relative" x-data="{ 
                                        specs: @Json.Serialize(@Model.Specifications),
                                        newKey: '',
                                        newValue: '',
                                    }">

        <!-- Input Fields for Key & Value -->
        <div class="flex flex-col gap-1 relative">
            <label for="specificationtype" class="text-xs text-charcoal-300">Specification Type</label>
            <input type="text" class="input-charcoal-dark p-2" id="specificationtype" x-model="newKey"
                placeholder="ex. Color, Battery Life, Resolution, etc." class="input" />
        </div>

        <div class="flex flex-col gap-1 relative">
            <label for="specificationvalue" class="text-xs text-charcoal-300">Specification Value</label>
            <input type="text" class="input-charcoal-dark p-2" id="specificationvalue" x-model="newValue"
                placeholder="ex. Red, 1800mAh, 1920x1080px, etc." class="input" />
        </div>

        <div class="flex flex-col gap-1 relative mt-2">
            <button type="button" x-on:click="if(newKey && newValue) { specs[newKey] = newValue; newKey=''; newValue=''; }"
                class="button-charcoal p-2 ">
                ADD
            </button>
        </div>

        <!-- Toaster-style Key-Value Display -->
        <div
            class="flex flex-wrap items-center justify-center gap-3 mt-2 overflow-auto min-h-[70px] max-h-40 border border-charcoal-700 rounded-md p-4 scrollbar-thin scrollbar-track-charcoal-900 scrollbar-thumb-charcoal-700">
            <template x-for="[key, value] in Object.entries(specs)" :key="key">
                <div
                    class="flex items-center justify-between text-sm text-charcoal-50 bg-charcoal-700 p-2 rounded-md w-full break-words">
                    <span class="flex items-center gap-2 max-w-full">
                        <span class="font-semibold break-all" x-text="key"></span>:
                        <span class="break-words" x-text="value"></span>
                    </span>
                    <button type="button" class="mt-2 md:mt-0 self-start md:self-auto" @@click="delete specs[key]">
                        <svg class="size-5" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                            viewBox="0 0 256 256">
                            <path
                                d="M208.49,191.51a12,12,0,0,1-17,17L128,145,64.49,208.49a12,12,0,0,1-17-17L111,128,47.51,64.49a12,12,0,0,1,17-17L128,111l63.51-63.52a12,12,0,0,1,17,17L145,128Z">
                            </path>
                        </svg>
                    </button>
                </div>
            </template>
        </div>

        <!-- Hidden Input for JSON Data -->
        <template x-for="[key, value] in Object.entries(specs)" :key="key">
            <input type="hidden" :name="'Specifications[' + key + ']'" :value="value" />
        </template>
    </div>
}
else if (Model.Type == ResourceType.Furniture)
{
    Console.WriteLine(Model.Type);
    <span class="absolute flex items-center gap-1 start-4 -top-3 text-sm font-light text-pumpkin-400 bg-charcoal-900 px-2">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
            viewBox="0 0 256 256">
            <path
                d="M208,136H176V104h16a16,16,0,0,0,16-16V40a16,16,0,0,0-16-16H64A16,16,0,0,0,48,40V88a16,16,0,0,0,16,16H80v32H48a16,16,0,0,0-16,16v16a16,16,0,0,0,16,16h8v40a8,8,0,0,0,16,0V184H184v40a8,8,0,0,0,16,0V184h8a16,16,0,0,0,16-16V152A16,16,0,0,0,208,136ZM64,40H192V88H64Zm32,64h64v32H96Zm112,64H48V152H208v16Z">
            </path>
        </svg>
        Furniture Information
    </span>

    @* Material *@
    <div class="flex flex-col col-span-3 gap-1 relative">
        <label for="material" class="text-xs text-charcoal-300">Material</label>
        <input type="text" class="input-charcoal-dark p-2" id="material" asp-for="@Model.Material"
            placeholder="Type material here" />
    </div>

    @* Dimensions *@
    <div class="flex flex-col col-span-2 gap-1 relative">
        <label for="dimensions" class="text-xs text-charcoal-300">Dimensions</label>
        <input type="text" class="input-charcoal-dark p-2" id="dimensions" asp-for="@Model.Dimensions"
            placeholder="Type dimensions here" />
    </div>
}

else if (Model.Type == ResourceType.Catering)
{
    <span class="absolute flex items-center gap-1 start-4 -top-3 text-sm font-light text-pumpkin-400 bg-charcoal-900 px-2">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256">
                <path
                    d="M72,88V40a8,8,0,0,1,16,0V88a8,8,0,0,1-16,0ZM216,40V224a8,8,0,0,1-16,0V176H152a8,8,0,0,1-8-8,268.75,268.75,0,0,1,7.22-56.88c9.78-40.49,28.32-67.63,53.63-78.47A8,8,0,0,1,216,40ZM200,53.9c-32.17,24.57-38.47,84.42-39.7,106.1H200ZM119.89,38.69a8,8,0,1,0-15.78,2.63L112,88.63a32,32,0,0,1-64,0l7.88-47.31a8,8,0,1,0-15.78-2.63l-8,48A8.17,8.17,0,0,0,32,88a48.07,48.07,0,0,0,40,47.32V224a8,8,0,0,0,16,0V135.32A48.07,48.07,0,0,0,128,88a8.17,8.17,0,0,0-.11-1.31Z">
                </path>
            </svg>
        Catering Information
    </span>

    @* Menu Items *@
    <div class="flex flex-col col-span-3 gap-1 relative">
        <label for="menuitems" class="text-xs text-charcoal-300">Menu Items</label>
        <input type="text" class="input-charcoal-dark p-2" id="menuitems" asp-for="@Model.MenuItems"
            placeholder="Type menu items here" />
    </div>

    @* Price Items *@
    <div class="flex flex-col col-span-2 gap-1 relative">
        <label for="priceitems" class="text-xs text-charcoal-300">Price Items</label>
        <input type="text" class="input-charcoal-dark p-2" id="priceitems" asp-for="@Model.PriceItems"
            placeholder="Type price items here" />
    </div>
}

else if (Model.Type == ResourceType.Personnel)
{
    <span class="absolute flex items-center gap-1 start-4 -top-3 text-sm font-light text-pumpkin-400 bg-charcoal-900 px-2">
        <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 256 256">
                <path
                    d="M152,80a32,32,0,1,0-32-32A32,32,0,0,0,152,80Zm0-48a16,16,0,1,1-16,16A16,16,0,0,1,152,32Zm48,112v88a8,8,0,0,1-16,0V151.66c-25.75-2.25-34.35-15.52-42-27.36-2.85-4.39-5.56-8.57-9.13-12.19l-13.4,30.81,37.2,26.57A8,8,0,0,1,160,176v56a8,8,0,0,1-16,0V180.12l-31.07-22.2L79.34,235.19A8,8,0,0,1,72,240a7.84,7.84,0,0,1-3.19-.67,8,8,0,0,1-4.14-10.52L122.19,96.5a8,8,0,0,1,11-3.92,40.92,40.92,0,0,1,8,5.47c6.37,5.52,10.51,11.91,14.16,17.55,7.68,11.84,13.22,20.4,36.6,20.4A8,8,0,0,1,200,144ZM72,152a8,8,0,0,0,7.35-4.85l24-56a8,8,0,0,0-4.2-10.5l-28-12a8,8,0,0,0-10.5,4.2l-24,56a8,8,0,0,0,4.2,10.5l28,12A8,8,0,0,0,72,152ZM54.51,127.8,72.2,86.5l13.3,5.7L67.8,133.49Z">
                </path>
            </svg>
        Personnel Information
    </span>

    @* Position *@
    <div class="flex flex-col col-span-2 gap-1 relative">
        <label for="position" class="text-xs text-charcoal-300">Position</label>
        <input type="text" class="input-charcoal-dark p-2" id="position" asp-for="@Model.Position"
            placeholder="Type position here" />
    </div>

    @* Shift *@
    <div class="flex flex-col col-span-2 gap-1 relative">
        <label for="shift" class="text-xs text-charcoal-300">Shift</label>
        <input type="text" class="input-charcoal-dark p-2" id="shift" asp-for="@Model.Shift"
            placeholder="Type shift here" />
    </div>

    @* Experience *@
    <div class="flex flex-col col-span-2 gap-1 relative">
        <label for="experience" class="text-xs text-charcoal-300">Experience</label>
        <input type="text" class="input-charcoal-dark p-2" id="experience" asp-for="@Model.Experience"
            placeholder="Type experience here" />
    </div>
}