@model DashboardViewModel

@* Event Counters & Graphs *@
<div id="event-counters" class="grid md:grid-cols-2 xl:grid-cols-3 w-full gap-6">

    @* Drafted Events *@
    <div class="flex items-center justify-between gap-3 rounded-xl border-l-4 border-pumpkin-800 bg-charcoal-900">
        <span class="flex shrink items-center p-3 rounded-l-lg bg-charcoal-950 text-pumpkin-700">
            <svg class="size-10" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                width="400" height="400" viewBox="0, 0, 400,400">
                <g>
                    <path
                        d="M58.984 51.292 C 46.749 57.774,46.661 75.548,58.835 81.615 L 62.807 83.594 141.755 83.577 C 216.933 83.560,220.852 83.490,223.828 82.113 C 235.521 76.699,236.986 59.958,226.408 52.627 L 223.181 50.391 142.255 50.221 C 69.595 50.068,61.089 50.177,58.984 51.292 M270.703 101.124 C 259.282 103.387,239.844 112.765,239.844 116.012 C 239.844 117.045,332.969 210.160,333.987 210.144 C 336.875 210.100,346.022 192.756,348.401 182.813 C 359.619 135.916,317.675 91.817,270.703 101.124 M58.835 118.385 C 47.130 124.218,46.959 142.078,58.550 148.197 L 62.022 150.030 117.601 149.820 L 173.181 149.609 176.409 147.373 C 184.659 141.655,185.965 128.945,179.060 121.581 C 174.046 116.234,176.566 116.442,116.755 116.423 L 62.807 116.406 58.835 118.385 M159.650 195.505 C 116.900 238.326,103.087 252.613,102.434 254.688 C 101.072 259.009,89.842 338.845,89.857 344.099 C 89.883 353.798,96.836 360.137,107.463 360.152 C 112.727 360.159,192.344 348.549,195.703 347.284 C 198.135 346.369,211.255 333.679,254.883 290.044 L 310.938 233.980 263.472 186.519 L 216.006 139.058 159.650 195.505 M60.570 184.034 C 45.691 189.596,46.692 212.090,62.009 216.378 C 67.362 217.877,104.411 217.163,107.438 215.502 C 119.510 208.880,120.250 192.122,108.768 185.372 L 105.078 183.203 84.375 183.039 C 67.680 182.907,63.071 183.099,60.570 184.034 "
                        stroke="none" fill="currentColor" fill-rule="evenodd"></path>
                </g>
            </svg>
        </span>

        <div class="flex grow flex-col items-start justify-center gap-0">
            <span class=" font-semibold text-charcoal-300">@Model.Events.TotalEventsDrafted</span>
            <span class="text-sm text-pumpkin-600">Drafted Events</span>
        </div>
    </div>

    @* Opened Events *@
    <div class="flex items-center justify-between gap-3 rounded-xl border-l-4 border-pumpkin-800 bg-charcoal-900">
        <span class="flex shrink items-center p-3 rounded-l-lg bg-charcoal-950 text-pumpkin-700">
            <svg class="size-10" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                width="400" height="400" viewBox="0, 0, 400,400">
                <g>
                    <path
                        d="M149.361 1.586 C 143.899 4.916,143.647 6.605,143.909 38.086 C 144.136 65.519,144.172 66.059,145.878 68.452 C 150.919 75.519,160.876 75.730,166.016 68.879 C 167.515 66.881,167.578 65.582,167.578 36.719 C 167.578 3.445,167.722 4.427,162.379 1.238 C 159.377 -0.555,152.574 -0.373,149.361 1.586 M312.500 37.476 C 310.996 37.760,308.887 38.445,307.813 38.999 C 306.738 39.553,272.751 73.077,232.285 113.498 L 158.710 186.990 163.782 192.909 C 191.310 225.031,192.279 269.116,166.163 301.168 C 157.655 311.610,151.213 313.499,145.067 307.354 C 140.272 302.559,140.471 296.612,145.620 290.877 C 170.087 263.623,168.432 230.010,141.233 201.776 C 136.172 196.523,132.031 192.068,132.031 191.877 C 132.031 190.559,117.768 130.141,116.797 127.344 C 111.477 112.027,91.281 103.344,76.388 109.971 C 68.911 113.297,69.537 104.925,69.534 201.570 L 69.531 286.343 53.827 301.960 C 37.920 317.779,35.938 320.378,35.938 325.404 C 35.938 330.046,36.967 331.212,71.828 366.016 L 105.476 399.609 170.528 399.609 L 235.580 399.609 240.642 397.101 C 245.290 394.797,313.847 328.056,312.466 327.179 C 312.270 327.055,310.041 325.898,307.512 324.609 C 296.163 318.823,287.778 306.331,286.264 292.955 L 285.736 288.281 282.516 288.272 C 264.269 288.219,245.409 268.911,245.324 250.195 C 245.313 247.779,245.169 247.656,242.352 247.656 C 218.917 247.656,199.574 221.235,205.822 197.759 C 208.629 187.214,207.158 188.860,270.818 125.000 C 316.643 79.029,330.760 64.423,331.977 61.719 C 337.774 48.838,326.521 34.831,312.500 37.476 M86.639 39.273 C 77.781 45.191,79.307 52.639,91.898 64.931 C 102.878 75.650,108.608 76.904,114.734 69.928 C 120.540 63.315,119.261 58.284,109.124 47.862 C 98.343 36.777,93.274 34.841,86.639 39.273 M212.891 38.982 C 194.121 50.804,188.855 69.595,203.227 73.465 C 212.023 75.833,230.649 59.301,230.649 49.126 C 230.649 40.031,220.463 34.212,212.891 38.982 M279.551 150.313 C 274.084 152.265,232.378 193.072,229.001 199.774 C 221.659 214.344,237.177 230.393,251.953 223.510 C 258.456 220.481,301.194 176.107,302.345 171.189 C 305.558 157.463,292.645 145.636,279.551 150.313 M312.500 200.744 C 307.516 201.727,305.217 203.638,287.388 221.615 C 268.758 240.401,267.977 241.480,267.977 248.438 C 267.977 260.954,281.004 269.338,292.799 264.412 C 297.270 262.544,329.343 230.389,331.721 225.391 C 337.958 212.277,326.768 197.928,312.500 200.744 M338.617 253.464 C 334.216 255.691,312.880 276.703,310.684 280.973 C 303.740 294.471,315.808 309.736,330.643 306.220 C 335.944 304.964,360.686 281.273,362.985 275.252 C 368.699 260.289,352.950 246.208,338.617 253.464 "
                        stroke="none" fill="currentColor" fill-rule="evenodd"></path>
                </g>
            </svg>
        </span>

        <div class="flex grow flex-col items-start justify-center gap-0">
            <span class=" font-semibold text-charcoal-300">@Model.Events.TotalEventsOpened</span>
            <span class="text-sm text-pumpkin-600">Opened Events</span>
        </div>
    </div>

    @* Ongoing Events *@
    <div class="flex items-center justify-between gap-3 rounded-xl border-l-4 border-pumpkin-800 bg-charcoal-900">
        <span class="flex shrink items-center p-3 rounded-l-lg bg-charcoal-950 text-pumpkin-700">
            <svg class="size-10" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                width="400" height="400" viewBox="0, 0, 400,400">
                <g>
                    <path
                        d="M107.422 67.650 C 91.394 69.804,84.285 71.849,73.307 77.465 C 40.938 94.024,23.564 129.287,33.561 158.140 C 42.147 182.921,73.442 192.730,91.016 176.148 L 94.141 173.199 90.234 172.287 C 64.262 166.218,70.508 133.987,97.656 133.985 C 127.637 133.983,138.997 177.436,117.499 209.889 C 99.010 237.801,52.985 254.948,19.141 246.534 C 16.563 245.893,14.189 245.356,13.867 245.340 C 13.545 245.325,13.281 257.617,13.281 272.656 L 13.281 300.000 200.000 300.000 L 386.719 300.000 386.719 277.414 L 386.719 254.828 379.883 254.299 C 331.108 250.530,286.892 219.228,229.619 147.923 C 191.034 99.884,169.191 81.086,141.406 72.005 C 131.381 68.728,115.011 66.631,107.422 67.650 M263.672 152.274 C 245.635 154.623,244.892 155.006,248.878 159.901 C 291.494 212.218,335.266 241.634,377.280 246.191 C 387.848 247.337,387.195 248.145,384.458 237.309 C 370.695 182.814,317.381 145.280,263.672 152.274 M13.281 320.313 L 13.281 332.813 200.000 332.813 L 386.719 332.813 386.719 320.313 L 386.719 307.813 200.000 307.813 L 13.281 307.813 13.281 320.313 "
                        stroke="none" fill="currentColor" fill-rule="evenodd"></path>
                </g>
            </svg>
        </span>

        <div class="flex grow flex-col items-start justify-center gap-0">
            <span class=" font-semibold text-charcoal-300">@Model.Events.TotalEventsOngoing</span>
            <span class="text-sm text-pumpkin-600">Ongoing Events</span>
        </div>
    </div>

    @* Completed Events *@
    <div class="flex items-center justify-between gap-3 rounded-xl border-l-4 border-pumpkin-800 bg-charcoal-900">
        <span class="flex shrink items-center p-3 rounded-l-lg bg-charcoal-950 text-pumpkin-700">
            <svg class="size-10" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                width="400" height="400" viewBox="0, 0, 400,400">
                <g>
                    <path
                        d="M128.226 43.455 C 121.773 46.671,118.750 52.906,118.750 62.997 L 118.750 66.406 97.781 66.406 C 79.469 66.406,76.049 66.601,70.789 67.947 C 51.839 72.793,37.878 87.528,33.994 106.778 C 31.973 116.797,32.579 307.864,34.651 314.063 C 40.394 331.239,54.328 344.684,70.672 348.821 C 77.706 350.602,322.294 350.602,329.328 348.821 C 345.581 344.707,359.292 331.575,365.126 314.536 C 367.377 307.960,368.184 117.573,366.006 106.778 C 362.122 87.528,348.161 72.793,329.211 67.947 C 323.955 66.602,320.532 66.406,302.335 66.406 L 281.482 66.406 280.985 59.971 C 279.021 34.498,246.964 34.856,246.892 60.352 L 246.875 66.406 200.000 66.406 L 153.125 66.406 153.108 60.352 C 153.065 45.266,141.014 37.083,128.226 43.455 M118.983 106.590 C 120.800 132.339,153.035 131.833,153.108 106.055 L 153.125 100.000 200.000 100.000 L 246.875 100.000 246.875 106.097 C 246.875 117.904,252.367 124.343,262.891 124.875 C 274.267 125.449,280.103 119.542,281.022 106.523 L 281.492 99.865 301.097 100.128 L 320.703 100.391 324.432 102.582 C 331.681 106.843,332.384 108.871,332.664 126.307 L 332.905 141.406 200.000 141.406 L 67.095 141.406 67.336 126.236 L 67.578 111.067 69.933 107.719 C 74.771 100.840,77.328 100.210,100.861 100.090 L 118.518 100.000 118.983 106.590 M240.041 201.115 C 249.723 204.570,254.525 215.490,250.090 223.966 C 247.534 228.851,199.788 278.129,195.154 280.664 C 186.000 285.673,182.216 283.812,164.818 265.743 C 145.085 245.249,142.847 237.904,153.630 229.016 C 161.853 222.237,168.296 223.602,179.341 234.462 C 183.663 238.711,187.396 242.188,187.638 242.188 C 187.880 242.188,196.059 233.838,205.812 223.633 C 229.325 199.033,231.041 197.903,240.041 201.115 "
                        stroke="none" fill="currentColor" fill-rule="evenodd"></path>
                </g>
            </svg>
        </span>

        <div class="flex grow flex-col items-start justify-center gap-0">
            <span class=" font-semibold text-charcoal-300">@Model.Events.TotalEventsCompleted</span>
            <span class="text-sm text-pumpkin-600">Completed Events</span>
        </div>
    </div>

    @* Postponed Events *@
    <div class="flex items-center justify-between gap-3 rounded-xl border-l-4 border-pumpkin-800 bg-charcoal-900">
        <span class="flex shrink items-center p-3 rounded-l-lg bg-charcoal-950 text-pumpkin-700">
            <svg class="size-10" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                width="400" height="400" viewBox="0, 0, 400,400">
                <g>
                    <path
                        d="M205.078 31.797 C 130.925 38.534,68.295 95.526,54.876 168.475 L 53.556 175.652 37.129 175.918 C 16.996 176.244,12.686 178.106,10.135 187.578 C 7.969 195.623,8.015 195.693,40.160 232.284 C 79.120 276.633,73.892 276.699,113.684 231.363 C 128.526 214.452,141.140 199.687,141.715 198.550 C 145.560 190.948,142.342 181.606,134.375 177.243 C 132.901 176.435,127.396 176.109,111.914 175.910 C 100.635 175.765,91.406 175.364,91.406 175.018 C 91.406 173.102,95.716 158.272,97.965 152.448 C 130.096 69.250,235.590 41.249,304.297 97.682 C 394.068 171.417,353.721 314.538,238.339 331.648 C 224.513 333.698,221.094 337.395,221.094 350.295 C 221.094 366.774,227.887 370.870,249.219 367.254 C 314.684 356.156,367.714 308.177,384.361 244.986 C 414.721 129.740,323.320 21.053,205.078 31.797 M206.868 103.865 C 203.342 104.981,200.060 107.766,198.225 111.199 L 196.484 114.453 196.484 164.063 L 196.484 213.672 198.258 216.991 C 199.233 218.817,201.492 221.278,203.278 222.460 L 206.525 224.609 243.692 224.831 C 294.118 225.133,293.736 225.318,293.746 200.481 C 293.755 178.077,290.899 175.781,263.029 175.781 L 246.162 175.781 245.932 145.117 C 245.672 110.250,245.650 110.128,238.911 105.665 C 235.473 103.388,212.461 102.095,206.868 103.865 "
                        stroke="none" fill="currentColor" fill-rule="evenodd"></path>
                </g>
            </svg>
        </span>

        <div class="flex grow flex-col items-start justify-center gap-0">
            <span class=" font-semibold text-charcoal-300">@Model.Events.TotalEventsPostponed</span>
            <span class="text-sm text-pumpkin-600">Postponed Events</span>
        </div>
    </div>

    @* Cancelled Events *@
    <div class="flex items-center justify-between gap-3 rounded-xl border-l-4 border-pumpkin-800 bg-charcoal-900">
        <span class="flex shrink items-center p-3 rounded-l-lg bg-charcoal-950 text-pumpkin-700">
            <svg class="size-10" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                width="400" height="400" viewBox="0, 0, 400,400">
                <g>
                    <path
                        d="M87.500 25.000 L 87.500 37.500 65.210 37.500 C 37.495 37.500,33.872 38.381,24.056 47.513 C 13.872 56.986,12.500 62.054,12.500 90.210 L 12.500 112.500 187.500 112.500 L 362.500 112.500 362.500 90.376 C 362.500 62.607,361.566 58.741,352.517 49.067 C 342.968 38.858,337.950 37.500,309.790 37.500 L 287.500 37.500 287.500 25.000 L 287.500 12.500 275.000 12.500 L 262.500 12.500 262.500 25.000 L 262.500 37.500 187.500 37.500 L 112.500 37.500 112.500 25.000 L 112.500 12.500 100.000 12.500 L 87.500 12.500 87.500 25.000 M12.500 234.790 C 12.500 348.347,11.724 339.346,22.513 350.944 C 33.822 363.102,28.485 362.500,124.937 362.500 L 206.955 362.500 203.643 356.836 C 145.899 258.091,258.270 145.231,356.445 203.369 L 362.500 206.955 362.500 172.227 L 362.500 137.500 187.500 137.500 L 12.500 137.500 12.500 234.790 M125.000 212.500 L 125.000 225.000 100.000 225.000 L 75.000 225.000 75.000 212.500 L 75.000 200.000 100.000 200.000 L 125.000 200.000 125.000 212.500 M282.031 213.992 C 206.158 230.768,186.785 330.228,251.059 372.994 C 317.565 417.246,404.903 355.697,385.274 278.410 C 373.834 233.364,326.891 204.074,282.031 213.992 M287.686 270.889 L 300.000 283.185 312.502 270.701 L 325.005 258.217 333.394 266.606 L 341.783 274.995 329.299 287.498 L 316.815 300.000 329.299 312.502 L 341.783 325.005 333.394 333.394 L 325.005 341.783 312.502 329.299 L 300.000 316.815 287.498 329.299 L 274.995 341.783 266.606 333.394 L 258.217 325.005 270.701 312.502 L 283.185 300.000 270.706 287.502 L 258.226 275.005 266.404 266.799 C 270.902 262.286,274.760 258.594,274.977 258.594 C 275.195 258.594,280.914 264.127,287.686 270.889 M125.000 287.500 L 125.000 300.000 100.000 300.000 L 75.000 300.000 75.000 287.500 L 75.000 275.000 100.000 275.000 L 125.000 275.000 125.000 287.500 "
                        stroke="none" fill="currentColor" fill-rule="evenodd"></path>
                </g>
            </svg>
        </span>

        <div class="flex grow flex-col items-start justify-center gap-0">
            <span class=" font-semibold text-charcoal-300">@Model.Events.TotalEventsCancelled</span>
            <span class="text-sm text-pumpkin-600">Cancelled Events</span>
        </div>
    </div>
</div>


@* OOB parts *@


@* Events Dropdown *@
<div id="events-dropdowwn-list" hx-swap-oob="outerHTML" x-data="{ open: false }" class="relative w-72">
    <h3 class="text-sm text-charcoal-300">Selected Event</h3>
    <button type="button" x-on:click="open = !open" x-ref="eventDropdownButton"
        class="w-full select-none duration-200 ease-in-out flex items-center justify-between gap-2 px-3 py-1 rounded-md border bg-charcoal-900 border-pumpkin-800 focus:border-pumpkin-500 text-charcoal-300 focus:text-charcoal-300 selection:text-pumpkin-50 selection:bg-pumpkin-700 placeholder-charcoal-700">

        <span class="w-full text-left truncate text-sm font-medium">
            @(Model.SelectedEventDetails.SelectedEvent?.ShortName ?? "None")
        </span>

        <svg class="size-3" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
            viewBox="0 0 256 256">
            <path
                d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z">
            </path>
        </svg>
    </button>

    @* Dropdown Content *@
    <div x-cloak x-show="open" x-on:click.away="open = false" x-anchor.bottom.offset.10="$refs.eventDropdownButton"
        x-transition
        class="bg-charcoal-950 border border-pumpkin-800 rounded-md max-h-60 overflow-y-auto shadow-md w-full z-20">
        @if (Model.SelectedEventDetails.SelectedEvent != null)
        {
            @foreach (var evt in Model.Events.GetEvents)
            {
                <div x-on:click="open = false" hx-get="/admin/select-event-dropdown/@evt.Id" hx-swap="none"
                    class="duration-200 ease-in-out px-4 py-2 hover:bg-pumpkin-600 text-pumpkin-700 hover:text-pumpkin-50 cursor-pointer">
                    <span class="truncate text-sm">@evt.ShortName</span>
                </div>
            }
        }
        else
        {
            <div class="flex flex-col items-center justify-center p-3 size-full text-pumpkin-700">
                <svg class="size-16" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                    viewBox="0 0 256 256">
                    <path
                        d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM157.66,170.34a8,8,0,0,1-11.32,11.32L128,163.31l-18.34,18.35a8,8,0,0,1-11.32-11.32L116.69,152,98.34,133.66a8,8,0,0,1,11.32-11.32L128,140.69l18.34-18.35a8,8,0,0,1,11.32,11.32L139.31,152ZM208,80H48V48H72v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24Z">
                    </path>
                </svg>
                <span class="font-semibold">
                    No Events Found
                </span>
                <span class="text-sm">
                    Try changing the date range.
                </span>
            </div>
        }
    </div>
</div>